@charset "utf-8";
/* CSS Document */

.l-mvBlock{
	width:100%;
	line-height:0;
}
.l-mvBlock img{
	max-width:100%;
	width:100%;
	line-height:0;
}

.l-scrollBlock{
	width:100%;
	margin:0 auto;
	padding:28px 0 0;
	text-align:center;
	line-height:0;
}
.l-scrollBlock a{
	display:inline-block;
	line-height:0;
}
.l-scrollBlock img{
	max-width:98px;
	width:100%;
	line-height:0;
}

.l-block01{
	width:100%;
	margin:0 auto;
	padding:0 0 70px;
	line-height:0;
}
.l-block01 .p-title{
	max-width:750px;
	width:100%;
	margin:0 auto;
	padding:57px 0 0;
	line-height:0;
	text-align:center;
	position:relative;
	z-index:1;
}
.l-block01 .p-title span{
	padding:0 15px;
	background-color:#FFFFFF;
	position:relative;
	z-index:2;
	font-size:16px;
}
.l-block01 .p-title:after{
	display:block;
	content:" ";
	border-top:1px solid #000000;
	position:relative;
	z-index:1;
	
}
.l-block01 .p-title img{
	max-width:756px;
	width:100%;
}
.l-block01 .l-block01-table{
	display:table;
	width:100%;
	margin:0 auto;
	line-height:0;
	text-align:center;
}
.l-block01 .l-block01-table > p{
	display:table-cell;
	vertical-align:top;
	padding-top:25px;
}
.l-block01 .l-block01-table > p a{
	display:inline-block;
}
.l-block01 .l-block01-table > p:first-child{
	padding-right:40px;
	text-align:right;
}
.l-block01 .l-block01-table > p:first-child img{
	max-width:275px;
	width:100%;
}
.l-block01 .l-block01-table > p:last-child{
	padding-left:40px;
	text-align:left;
}
.l-block01 .l-block01-table > p:last-child img{
	max-width:320px;
	width:100%;
}

.l-block02{
	width: 100%;
	margin:0 auto;
	text-align:center;
	line-height:0;
	background:url(../images/top/bg_block02_pc.png) center center no-repeat transparent;
	background-size: cover;
	height:472px;
	padding:72px 0 70px;
}
.l-block02 .p-title{
	width:100%;
	margin:0 auto;
	padding:0px 0 32px;
	line-height:0;
	text-align:center;
}
.l-block02 .p-title img{
	max-width:194px;
	width:100%;
}
.l-block02 .l-block02-table{
	display:table;
	width:100%;
	margin:0 auto;
	line-height:0;
	text-align:center;
}
.l-block02 .l-block02-table > p{
	display:table-cell;
	vertical-align:top;
}
.l-block02 .l-block02-table > p a{
	display:inline-block;
}
.l-block02 .l-block02-table > p:first-child{
	padding-right:25px;
	text-align:right;
}
.l-block02 .l-block02-table > p:last-child{
	padding-left:25px;
	text-align:left;
}
.l-block02 .l-block02-table > p img{
	max-width:308px;
	width:100%;
}

.l-block03{
	width: 100%;
	margin:0 auto;
	text-align:center;
	background:url(../images/top/bg_block03_01_pc.png) center center repeat transparent;
	background-size: cover;
	height:auto;
	padding:70px 0 70px;
}
.l-block03 > .p-title{
	width:100%;
	margin:0 auto;
	padding:0px 0 62px;
	line-height:0;
	text-align:center;
}
.l-block03 > .p-title img{
	max-width:392px;
	width:100%;
}

.l-block03 .l-block03-01{
	width:100%;
	margin:0 auto;
	padding:0 0 0;
	text-align:left;
	position:relative;
}
.l-block03 .l-block03-01 > div{
	position:relative;
	z-index:2;
}
.l-block03 .l-block03-01 .p-image2{
	position: absolute;
	bottom: -55%;
	right: 0%;
	max-width: 1366px;
	width:100%;
	z-index:3;
	
}
.l-block03 .l-block03-01 .p-image2 img{
	max-width: 1366px;
	width:100%;
}
.l-block03 .l-block03-01 .p-title img{
	max-width:159px;
	width:100%;
}
.l-block03 .l-block03-01 .l-block03-01-table{
	width:100%;
	margin:0 auto;
	padding:0px;
}
.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock{
	float:left;
	max-width:603px;
	width:100%;
	position:relative;
	z-index:2;
}
.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock .p-title{
	padding:0px 0 10px;
	text-align:center;
}
.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock .l-message{
	width:100%;
	margin:0 auto;
	padding:25px 20px 20px 30px;
	border:1px solid #77c3e7;
	background-color:#FFFFFF;
	position:relative;
	display:inline-block;
	vertical-align:top;
}
.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock .l-message:before{
	content: '';
	background:url(../images/top/bg_block03_02_pc.png) center top no-repeat transparent;
	position: absolute;
	top: 6px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 15px;
	background-size: 60px auto;
}
.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock .l-message .p-title{
	font-size:30px;
	text-align:left;
	font-weight: bold;
}
.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock .l-message .p-message{
	font-size:18px;
	padding-top:5px;
	line-height:2;
	text-align:left;
}
.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock .l-message .p-message > span:last-child,
.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock .l-message .p-message > span:last-child,
.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock .l-message .p-message > span:last-child,
.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock .l-message .p-message > span:last-child,
.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock .l-message .p-message > span:last-child{
	display:none;
}
.l-block03 .l-block03-01 .l-block03-01-table .l-image{
	display:inline-block;
	vertical-align:top;
	position:relative;	
	float:right;
	padding-left:10px;
	width:calc(100% - 603px);
	z-index:1;
}
.l-block03 .l-block03-01 .l-block03-01-table .l-image p{
	text-align:right;
}
.l-block03 .l-block03-01 .l-block03-01-table .l-image img{
	max-width:253px;
	width:100%;
	position:relative;
	left:-50px;
}

.l-block03 .l-block03-02{
	width:100%;
	margin:0 auto;
	padding:40px 0 0;
	text-align:left;
	position:relative;
}
.l-block03 .l-block03-02 > div{
	/*position:relative;
	z-index:2;*/
}
.l-block03 .l-block03-02 .p-image2{
	position: absolute;
	bottom: -45%;
	left: 0;
	max-width: 1366px;
	width:100%;
	z-index:3;
}
.l-block03 .l-block03-02 .p-image2 img{
	max-width: 1366px;
	width:100%;
}
.l-block03 .l-block03-02 .p-title img{
	max-width:159px;
	width:100%;
}
.l-block03 .l-block03-02 .l-block03-02-table{
	width:100%;
	margin:0 auto;
	padding:0px;
}
.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock{
	float:right;
	max-width:560px;
	width:100%;
	padding-right:60px;
}
.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock .p-title{
	padding:0px 0 10px;
	text-align:center;
	position:relative;
	z-index:4;
}
.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock .l-message{
	width:100%;
	margin:0 auto;
	padding:25px 20px 20px 30px;
	border:1px solid #77c3e7;
	background-color:#FFFFFF;
	position:relative;
	display:inline-block;
	vertical-align:top;
	position:relative;
	z-index:2;
}
.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock .l-message:before{
	content: '';
	background:url(../images/top/bg_block03_02_pc.png) center top no-repeat transparent;
	position: absolute;
	top: 6px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 15px;
	background-size: 60px auto;
}
.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock .l-message .p-caution{
	font-size:12px;
	position: absolute;
	top:10px;
	right:20px;
}
.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock .l-message .p-title{
	font-size:30px;
	text-align:left;
	font-weight: bold;
}
.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock .l-message .p-message{
	font-size:18px;
	padding-top:5px;
	line-height:2;
	text-align:left;
}
.l-block03 .l-block03-02 .l-block03-02-table .l-image{
	display:inline-block;
	vertical-align:top;
	position:relative;
	
	float:left;
	padding-right:10px;
	width:calc(100% - 560px);
	/*width:310px;*/
}
.l-block03 .l-block03-02 .l-block03-02-table .l-image p{
	text-align:left;
}
.l-block03 .l-block03-02 .l-block03-02-table .l-image img{
	max-width:298px;
	width:100%;
}

.l-block03 .l-block03-03{
	width:100%;
	margin:0 auto;
	padding:40px 0 0;
	text-align:left;
	position:relative;
}
.l-block03 .l-block03-03 > div{
	/*position:relative;
	z-index:2;*/
}
.l-block03 .l-block03-03 .p-image2{
	position: absolute;
	bottom: -50%;
	right: 0;
	max-width: 1366px;
	width:100%;
	z-index:3;
}
.l-block03 .l-block03-03 .p-image2 img{
	max-width: 1366px;
	width:100%;
}
.l-block03 .l-block03-03 .p-title img{
	max-width:159px;
	width:100%;
}
.l-block03 .l-block03-03 .l-block03-03-table{
	width:100%;
	margin:0 auto;
	padding:0px;
}
.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock{
	float:left;
	max-width:660px;
	width:100%;
}
.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock .p-title{
	padding:0px 0 10px;
	text-align:center;
	position:relative;
	z-index:4;
}
.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock .l-message{
	width:100%;
	margin:0 auto;
	padding:25px 20px 20px 30px;
	border:1px solid #77c3e7;
	background-color:#FFFFFF;
	position:relative;
	display:inline-block;
	vertical-align:top;
	position:relative;
	z-index:2;
}
.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock .l-message .space{
	display:none;
}
.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock .l-message .img{
	display:none;
}
.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock .l-message:before{
	content: '';
	background:url(../images/top/bg_block03_02_pc.png) center top no-repeat transparent;
	position: absolute;
	top: 6px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 15px;
	background-size: 60px auto;
}
.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock .l-message .p-title{
	font-size:30px;
	text-align:left;
	font-weight: bold;
}
.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock .l-message .p-message{
	font-size:18px;
	padding-top:5px;
	line-height:2;
	text-align:left;
}
.l-block03 .l-block03-03 .l-block03-03-table .l-image{
	display:inline-block;
	vertical-align:top;
	position:relative;
	
	float:right;
	padding-left:0;
	width:calc(100% - 660px);
}
.l-block03 .l-block03-03 .l-block03-03-table .l-image p{
	text-align:right;
}
.l-block03 .l-block03-03 .l-block03-03-table .l-image img{
	max-width:208px;
	width:100%;
	position:relative;
	left:-33px;
}

.l-block03 .l-block03-04{
	width:100%;
	margin:0 auto;
	padding:40px 0 0;
	text-align:left;
	position:relative;
}
.l-block03 .l-block03-04 > div{
	/*position:relative;
	z-index:2;*/
}
.l-block03 .l-block03-04 .p-title img{
	max-width:159px;
	width:100%;
}
.l-block03 .l-block03-04 .l-block03-04-table{
	width:100%;
	margin:0 auto;
	padding:0px;
}
.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock{
	float:right;
	max-width:596px;
	width:100%;
	padding-right:60px;
}
.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock .p-title{
	padding:0px 0 10px;
	text-align:center;
	position:relative;
	z-index:4;
}
.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock .l-message{
	width:100%;
	margin:0 auto;
	padding:25px 20px 20px 30px;
	border:1px solid #77c3e7;
	background-color:#FFFFFF;
	position:relative;
	display:inline-block;
	vertical-align:top;
	position:relative;
	z-index:2;
}
.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock .l-message:before{
	content: '';
	background:url(../images/top/bg_block03_02_pc.png) center top no-repeat transparent;
	position: absolute;
	top: 6px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 15px;
	background-size: 60px auto;
}
.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock .l-message .p-caution{
	font-size:12px;
	position: absolute;
	top:10px;
	right:20px;
}
.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock .l-message .p-title{
	font-size:30px;
	text-align:left;
	font-weight: bold;
}
.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock .l-message .p-message{
	font-size:18px;
	padding-top:5px;
	line-height:2;
	text-align:left;
}
.l-block03 .l-block03-04 .l-block03-04-table .l-image{
	display:inline-block;
	vertical-align:top;
	position:relative;
	
	float:left;
	padding-right:10px;
	width:calc(100% - 596px);
}
.l-block03 .l-block03-04 .l-block03-04-table .l-image p{
	text-align:left;
}
.l-block03 .l-block03-04 .l-block03-04-table .l-image img{
	max-width:297px;
	width:100%;
	position: relative;
    left: 30px;
}

.l-block03 .l-block03-05{
	width:100%;
	margin:0 auto;
	padding:40px 0 0;
	text-align:left;
	position:relative;
}
.l-block03 .l-block03-05 > div{
	/*position:relative;
	z-index:2;*/
}
.l-block03 .l-block03-05 .p-image2{
	position: absolute;
	bottom: 50%;
	left: 0;
	max-width: 1366px;
	width:100%;
	z-index:3;
}
.l-block03 .l-block03-05 .p-image2 img{
	max-width: 1366px;
	width:100%;
}
.l-block03 .l-block03-05 .p-title img{
	max-width:159px;
	width:100%;
}
.l-block03 .l-block03-05 .l-block03-05-table{
	width:100%;
	margin:0 auto;
	padding:0px;
}
.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock{
	float:left;
	max-width:645px;
	width:100%;
}
.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock .p-title{
	padding:0px 0 10px;
	text-align:center;
	position:relative;
	z-index:4;
}
.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock .l-message{
	width:100%;
	margin:0 auto;
	padding:25px 20px 20px 30px;
	border:1px solid #77c3e7;
	background-color:#FFFFFF;
	position:relative;
	display:inline-block;
	vertical-align:top;
	position:relative;
	z-index:2;
}
.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock .l-message:before{
	content: '';
	background:url(../images/top/bg_block03_02_pc.png) center top no-repeat transparent;
	position: absolute;
	top: 6px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60px;
	height: 15px;
	background-size: 60px auto;
}
.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock .l-message .p-title{
	font-size:30px;
	text-align:left;
	font-weight: bold;
}
.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock .l-message .p-message{
	font-size:18px;
	padding-top:5px;
	line-height:2;
	text-align:left;
}
.l-block03 .l-block03-05 .l-block03-05-table .l-image{
	display:inline-block;
	vertical-align:top;
	position:relative;
	
	float:right;
	padding-left:10px;
	width:calc(100% - 645px);
}
.l-block03 .l-block03-05 .l-block03-05-table .l-image p{
	text-align:right;
	padding-top:30px;
}
.l-block03 .l-block03-05 .l-block03-05-table .l-image img{
	max-width:211px;
	width:100%;
	position:relative;
	left:-25px;
}

.l-block04{
	width: 100%;
	margin:0 auto;
	text-align:center;
	background-color:#abe4f5;
	padding:75px 0 100px;
	position:relative;
	background:url(../images/top/bg_block04_pc.png) center top no-repeat transparent;
	background-size:cover;
}
.l-block04 > div{
	position:relative;
	z-index:2;
}
.l-block04 .l-title{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0px 0 30px;
}
.l-block04 .l-title p{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0;
}
.l-block04 .l-title p img{
	max-width: 765px;
	width:100%;
}
.l-block04 .l-block04-01{
	max-width: 852px;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:40px 25px 50px 70px;
	background-color:#FFFFFF;
	position:relative;
	z-index:1;
}
.l-block04 .l-block04-01 .p-title{
	width:100%;
	margin:0 auto;
	text-align:center;
	line-height:0;
	padding:0 45px 23px 0;
}
.l-block04 .l-block04-01 .p-title img{
	max-width:491px;
	width:100%;
}
.l-block04 .l-block04-01 .l-block04-01-table{
	width:100%;
	display:table;
	padding:37px 0 0;	
	position:relative;
}
.l-block04 .l-block04-01 .l-block04-01-table p{
	display:table-cell;
	vertical-align:middle;
}
.l-block04 .l-block04-01 .l-block04-01-table .p-image{
	width:89px;
}
.l-block04 .l-block04-01 .l-block04-01-table .p-image img{
	max-width:89px;
	width:100%;
}
.l-block04 .l-block04-01 .l-block04-01-table .p-message{
	width:373px;
	font-size:26px;
	text-align:left;
	padding:0px 0 0 15px;
	font-weight: bold;
}
.l-block04 .l-block04-01 .l-block04-01-table .p-photo{	
	width:auto;	
	position:relative;
}
.l-block04 .l-block04-01 .l-block04-01-table .p-photo img{	
	position:absolute;
	top:0;
	right:0;
	max-width:288px;
	width:100%;
}
.l-block04 .l-block04-01 .l-block04-02-table{
	width:100%;
	display:table;
	padding:37px 0 0;	
	position:relative;
}
.l-block04 .l-block04-01 .l-block04-02-table p{
	display:table-cell;
	vertical-align:middle;
}
.l-block04 .l-block04-01 .l-block04-02-table .p-image{
	width:91px;
}
.l-block04 .l-block04-01 .l-block04-02-table .p-image img{
	max-width:91px;
	width:100%;
}
.l-block04 .l-block04-01 .l-block04-02-table .p-message{
	width:auto;
	font-size:20px;
	text-align:left;
	padding:0px 0 0 15px;
	font-weight: bold;
}
.l-block04 .l-block04-01 .l-block04-03-table{
	width:100%;
	display:table;
	padding:37px 0 0;	
	position:relative;
}
.l-block04 .l-block04-01 .l-block04-03-table p{
	display:table-cell;
	vertical-align:middle;
}
.l-block04 .l-block04-01 .l-block04-03-table .p-image{
	width:91px;
}
.l-block04 .l-block04-01 .l-block04-03-table .p-image img{
	max-width:91px;
	width:100%;
}
.l-block04 .l-block04-01 .l-block04-03-table .p-message{
	width:426px;
	font-size:20px;
	text-align:left;
	padding:0px 0 0 15px;
	font-weight: bold;
}
.l-block04 .l-block04-01 .l-block04-03-table .p-photo{	
	width:auto;	
	position:relative;
}
.l-block04 .l-block04-01 .l-block04-03-table .p-photo img{	
	position:absolute;
	top:-40px;
	right:0;
	max-width:237px;
	width:100%;
}
.l-block04 .l-block04-01 .l-message{
	padding:75px 0 0 0;
}
.l-block04 .l-block04-01 .l-message p{
	font-size:17px;
	line-height:2.5;
	/*font-weight:bold;*/
}
.l-block04 .l-block04-01 .l-message p span{
	font-weight:100;
}
.l-block04 .l-block04-01-image{
	width:100%;
	position:relative;
	z-index:2;
	height:30px;
}
.l-block04 .l-block04-01-image .p-image{
	width:100%;
	position:absolute;
	bottom:-340.5%;
}
.l-block04 .l-block04-01-image .p-image img{
	max-width: 1366px;
	width:100%;
}
.l-block04 .l-block04-02{
	max-width: 852px;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:50px 40px 0px 40px;
	background-color:#FFFFFF;
	position:relative;
	z-index:1;
}
.l-block04 .l-block04-02.p-last{
	max-width: 852px;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:20px 40px 30px 40px;
	background-color:#FFFFFF;
	position:relative;
	z-index:1;
}
.l-block04 .l-block04-02 .p-title{
	width:100%;
	margin:0 auto;
	text-align:center;
	line-height:0;
	padding:0 0 43px;
}
.l-block04 .l-block04-02 .p-title img{
	max-width:517px;
	width:100%;
}
.l-block04 .l-block04-02 .l-title{
	width:100%;
	margin:0 auto;
	display:block;
	text-align:left;
 	position: relative;
	z-index:2;
	padding-left:40px;
}
.l-block04 .l-block04-02 .p-hikudashi {
	position: relative;
	display: inline-block;
	margin: 1.5em 0;
	padding: 7px 10px;
	min-width: 120px;
	max-width: 100%;
	color: #555;
	font-size: 16px;
	background: #f29c9f;
	border: solid 3px #f29c9f;
	box-sizing: border-box;
}
.l-block04 .l-block04-02 .p-hikudashi:before{
	content: "";
	position: absolute;
	bottom: -17px;
	left: 10%;
	margin-left: -17px;
	border: 5px solid transparent;
	border-top: 9px solid #f29c9f;
	z-index: 2;
}
.l-block04 .l-block04-02 .p-hikudashi:after{
	content: "";
	position: absolute;
	bottom: -19px;
	left: 10%;
	margin-left: -17px;
	border: 5px solid transparent;
	border-top: 11px solid #f29c9f;
	z-index: 1;
}
.l-block04 .l-block04-02 .p-hikudashi p {
	margin: 0;
	padding: 0;
	color:#000000;
	font-size:16px;
}
.l-block04 .l-block04-02 .p-hikudashi .p-photo {
	display:none;
}
.l-block04 .l-block04-02 .p-hikudashi p span {
	display:inline-block;
	vertical-align:middle;
	font-size:24px;
	padding-right:10px;
	font-weight:bold;
	position: relative;
    top: -3px;
}
.l-block04 .l-block04-02 .p-hikudashi p span.Mincho {
	font-weight:normal;
	position: relative;
    top: -2px;
}
.l-block04 .l-block04-02 .p-image {
	display:inline-block;
	width:81px;
	vertical-align:middle;
	padding-left:20px;
}
.l-block04 .l-block04-02 .p-image img {
	max-width:61px;
	width:100%;
}
.l-block04 .l-block04-02 .l-message{
	width:100%;
	margin:0 auto;
	display:block;
	text-align:left;
	background-color:#f1f1e7;
	padding:50px 25px 25px;
	position:relative;
	z-index:1;
	margin-top:-81px;
}
.l-block04 .l-block04-02 .l-message p{
	font-size:17px;
	line-height:2;	
	text-align:justify;
}

.l-block04 .l-block04-03{
	max-width: 852px;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:20px 40px 0 40px;
	background-color:#FFFFFF;
	position:relative;
	z-index:1;
}
.l-block04 .l-block04-03 .p-title{
	width:100%;
	margin:0 auto;
	text-align:center;
	line-height:0;
	padding:0 0 23px;
}
.l-block04 .l-block04-03 .p-title img{
	max-width:586px;
	width:100%;
}
.l-block04 .l-block04-03 .l-title{
	width:100%;
	margin:0 auto;
	display:block;
	text-align:right;
 	position: relative;
	z-index:2;
	padding-right:40px;
}
.l-block04 .l-block04-03 .p-hikudashi {
	position: relative;
	display: inline-block;
	margin: 1.5em 0;
	padding: 7px 10px;
	min-width: 120px;
	max-width: 100%;
	color: #555;
	font-size: 16px;
	background: #83c5c4;
	border: solid 3px #83c5c4;
	box-sizing: border-box;
}
.l-block04 .l-block04-03 .p-hikudashi .p-photo {
	display:none;
}
.l-block04 .l-block04-03 .p-hikudashi:before{
	content: "";
	position: absolute;
	bottom: -17px;
	left: 10%;
	margin-left: -17px;
	border: 5px solid transparent;
	border-top: 9px solid #83c5c4;
	z-index: 2;
}
.l-block04 .l-block04-03 .p-hikudashi:after{
	content: "";
	position: absolute;
	bottom: -19px;
	left: 10%;
	margin-left: -17px;
	border: 5px solid transparent;
	border-top: 11px solid #83c5c4;
	z-index: 1;
}
.l-block04 .l-block04-03 .p-hikudashi p {
	margin: 0;
	padding: 0;
	color:#000000;
	font-size:16px;
}
.l-block04 .l-block04-03 .p-hikudashi p span {
	display:inline-block;
	vertical-align:middle;
	font-size:24px;
	padding-right:10px;
	font-weight:bold;
	position: relative;
    top: -3px;
}
.l-block04 .l-block04-03 .p-hikudashi p span.Mincho {
	font-weight:normal;
	position: relative;
    top: -2px;
}
.l-block04 .l-block04-03 .p-image {
	display:inline-block;
	width:81px;
	vertical-align:middle;
	padding-right:20px;
}
.l-block04 .l-block04-03 .p-image img {
	max-width:61px;
	width:100%;
}
.l-block04 .l-block04-03 .l-message{
	width:100%;
	margin:0 auto;
	display:block;
	text-align:left;
	background-color:#f1f1e7;
	padding:50px 25px 25px;
	position:relative;
	z-index:1;
	margin-top:-81px;
}
.l-block04 .l-block04-03 .l-message p{
	font-size:17px;
	line-height:2;	
	text-align:justify;
}

.l-block04 .l-block04-04{
	max-width: 852px;
	width:100%;
	margin:0 auto;
	text-align:center;
	padding:0px 40px 30px 40px;
	background-color:#FFFFFF;
	position:relative;
	z-index:1;
}
.l-block04 .l-block04-04 p{
	text-align:right;
	font-size:14px;
}
.l-block04 .p-image2 {
    position: absolute;
    top: 94.5%;
    left: 0;
    max-width: 1366px;
    width: 100%;
    z-index: 3;
}
.l-block04 .p-image2 img {
    max-width: 1366px;
    width: 100%;
}

.l-block05{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:120px 0 200px;
	background:url(../images/top/bg_block05_pc.png) center top no-repeat transparent;
	background-size:cover;
	position:relative;
}
.l-block05:after{
	content:" ";
	background:url(../images/top/img_block05_05_pc.png) center bottom no-repeat transparent;
	position: absolute;
	left:0;
	right:0;
	bottom: 0px;
	width:454px;
	height:136px;
	background-size:454px auto;
	display:inline-block;
	margin:0 auto;
	text-align:center;
}
.l-block05 .l-block05-00{
	position:relative;
}
.l-block05 .l-block05-00 .p-title{
	width: 100%;
	margin:0 auto;
	text-align:center;
	padding:0;
}
.l-block05 .l-block05-00 .p-title img{
	max-width: 318px;
	width:100%;
}
.l-block05 .l-block05-00 .p-image{
	width: 100%;
	margin:0 auto;
	text-align:right;
	padding:0;
	position:absolute;
	top:-35px;
	right:0;
}
.l-block05 .l-block05-00 .p-image img{
	max-width: 1366px;
	width:100%;
}

.l-block05 .l-block05-01{
	margin-top:100px;
	position:relative;
	width:100%;
}
.l-block05 .l-block05-01 .l-block05-01-back{
	background:url(../images/top/bg_block05_01_pc.png) left top repeat transparent;
	position: absolute;
	top: 0;
	left: 0;
	width:100px;
	height:100px;
}
.l-block05 .l-block05-01 > div{
	position:relative;
	width:100%;
}
.l-block05 .l-block05-01 .l-block05-01-2-back{
	background:url(../images/top/bg_block05_01_2_pc.png) left top no-repeat transparent;
	position: absolute;
	top: 0;
	left: 0;
	width:100px;
	height:100px;
	background-size:100% auto;
}
.l-block05 .l-block05-01 > div .l-message{
	max-width:560px;
	width:100%;
	position:relative;
	top:-35px;
	display:inline-block;
	vertical-align:bottom;
}
.l-block05 .l-block05-01 > div .l-message .p-title{
	text-align:left;
	position:relative;
	font-size: 26px;
    line-height: 1.5;
	color:#024987;
	padding-bottom:10px;
}
.l-block05 .l-block05-01 > div .l-message .p-title span{
	font-size: 34px;
	font-weight:bold;
}
.l-block05 .l-block05-01 > div .l-message .p-message{
	text-align:justify;
	position:relative;
	font-size: 17px;
    line-height: 2;
}
.l-block05 .l-block05-01 > div .l-message .p-message img{
	display:none;
}
.l-block05 .l-block05-01 > div .l-image{
	max-width:194px;
	width:100%;
	position:relative;
	display:inline-block;
	text-align:left;
	padding:0 0 20px 40px;
	vertical-align:bottom;
}
.l-block05 .l-block05-01 > div .l-image img{
	max-width:68px;
	width:100%;
}

.l-block05 .l-block05-02{
	margin-top:90px;
	position:relative;
	width:100%;
}
.l-block05 .l-block05-02 .l-block05-02-back{
	background:url(../images/top/bg_block05_02_pc.png) left top repeat transparent;
	position: absolute;
	top: 0;
	right: 0;
	width:100px;
	height:100px;
}
.l-block05 .l-block05-02 > div{
	position:relative;
	width:100%;
}
.l-block05 .l-block05-02 .l-block05-02-2-back{
	background:url(../images/top/bg_block05_02_2_pc.png) left top no-repeat transparent;
	position: absolute;
	top: 0;
	left: 0;
	width:100px;
	height:100px;
	background-size:100% auto;
}
.l-block05 .l-block05-02 > div .l-message{
	max-width:590px;
	width:100%;
	position:relative;
	top:-35px;
	display:inline-block;
	vertical-align:bottom;
}
.l-block05 .l-block05-02 > div .l-message .p-title{
	text-align:left;
	position:relative;
	font-size: 26px;
    line-height: 1.5;
	color:#ea6777;
	padding-bottom:10px;
}
.l-block05 .l-block05-02 > div .l-message .p-title span{
	font-size: 34px;
	font-weight:bold;
}
.l-block05 .l-block05-02 > div .l-message .p-message{
	text-align:justify;
	position:relative;
	font-size: 17px;
    line-height: 2;
}
.l-block05 .l-block05-02 > div .l-image{
	max-width:164px;
	width:100%;
	position:relative;
	display:inline-block;
	text-align:right;
	padding:0 40px 20px 0;
	vertical-align:bottom;
}
.l-block05 .l-block05-02 > div .l-image img{
	max-width:68px;
	width:100%;
}

.l-block05 .l-block05-03{
	margin-top:90px;
	position:relative;
	width:100%;
}
.l-block05 .l-block05-03 .l-block05-03-back{
	background:url(../images/top/bg_block05_03_pc.png) left top repeat transparent;
	position: absolute;
	top: 0;
	left: 0;
	width:100px;
	height:100px;
}
.l-block05 .l-block05-03 > div{
	position:relative;
	width:100%;
}
.l-block05 .l-block05-03 .l-block05-03-2-back{
	background:url(../images/top/bg_block05_03_2_pc.png) left top no-repeat transparent;
	position: absolute;
	top: 0;
	left: 0;
	width:100px;
	height:100px;
	background-size:100% auto;
}
.l-block05 .l-block05-03 > div .l-message{
	max-width:560px;
	width:100%;
	position:relative;
	top:-35px;
	display:inline-block;
	vertical-align:bottom;
}
.l-block05 .l-block05-03 > div .l-message .p-title{
	text-align:left;
	position:relative;
	font-size: 26px;
    line-height: 1.5;
	color:#ea6777;
	padding-bottom:10px;
}
.l-block05 .l-block05-03 > div .l-message .p-title span{
	font-size: 34px;
	font-weight:bold;
}
.l-block05 .l-block05-03 > div .l-message .p-message{
	text-align:justify;
	position:relative;
	font-size: 17px;
    line-height: 2;
}
.l-block05 .l-block05-03 > div .l-image{
	max-width:194px;
	width:100%;
	position:relative;
	display:inline-block;
	text-align:left;
	padding:0 0 20px 40px;
	vertical-align:bottom;
}
.l-block05 .l-block05-03 > div .l-image img{
	max-width:68px;
	width:100%;
}

.l-block05 .l-block05-04{
	width:100%;
	margin:0 auto;
	padding:80px 0 0;
	position:relative;
}
.l-block05 .l-block05-04:after{
	content:" ";
	background:url(../images/top/ico_block05_04_pc.png) center bottom no-repeat transparent;
	position: absolute;
	left:0;
	right:0;
	bottom: -40px;
	width:79px;
	height:40px;
	background-size:79px auto;
	display:inline-block;
	margin:0 auto;
	text-align:center;
}
.l-block05 .l-block05-04 > .p-message{
	max-width:667px;
	width:100%;
	margin:0 auto;
	padding:30px 35px;
	position:relative;
	font-size: 17px;
    line-height: 2.5;
    z-index: 4;
	background-color:#FFFFFF;
}
.l-block05 .l-block05-04 > .p-message:before{
	content:" ";
	background:url(../images/top/img_block05_03_pc.png) left top no-repeat transparent;
	position: absolute;
	top: 30px;
	left: 35px;
	width:33px;
	height:27px;
	background-size:23px auto;
}
.l-block05 .l-block05-04 > .p-message:after{
	content:" ";
	background:url(../images/top/img_block05_04_pc.png) left top no-repeat transparent;
	position: absolute;
	bottom: 30px;
	right: 35px;
	width:33px;
	height:27px;
	background-size:23px auto;
}
.l-block05 .p-image2 {
    position: absolute;
    top: 61%;
    right: 0;
    max-width: 1366px;
    width: 100%;
    z-index: 3;
}
.l-block05 .p-image2 img {
    max-width: 1366px;
    width: 100%;
}

.l-block06{
	width:100%;
	margin:0 auto;
	padding:90px 0;
	position:relative;
}
.l-block06 .l-title{
	width:100%;
	margin:0 auto;
	padding:0 0 85px;
}
.l-block06 .l-title h2{
	text-align:center;
}
.l-block06 .l-title h2 img{
	max-width:636px;
	width:100%;
}
.l-block06 .l-block06-table{
	width:100%;
	margin:0 auto;
	padding:0 0 0;
	display:table;
}
.l-block06 .l-block06-table .l-message{
	display:table-cell;
	width:585px;
	vertical-align:top;
}
.l-block06 .l-block06-table .l-message .space{
	display:none;
}
.l-block06 .l-block06-table .l-message .img{
	display:none;
}
.l-block06 .l-block06-table .l-message .p-message{
	font-size: 16px;
    line-height: 2.5;
	text-align:left;
}
.l-block06 .l-block06-table .l-message .p-message img{
	display:none;
}
.l-block06 .l-block06-table .l-message .p-image{
	text-align:right;
	padding-top:50px;
}
.l-block06 .l-block06-table .l-message .p-image img{
	max-width:153px;
	width:100%;
}
.l-block06 .l-block06-table .l-photo{
	display:table-cell;
	width:auto;
	vertical-align:top;
	padding-top:40px;
}
.l-block06 .l-block06-table .l-photo img{
	max-width:163px;
	width:100%;
}
.l-block06 .p-image2 {
    position: absolute;
    top: 83.8%;
    left: 0;
    max-width: 1366px;
    width: 100%;
    z-index: 3;
}
.l-block06 .p-image2 img {
    max-width: 1366px;
    width: 100%;
}

.l-block07{
	width:100%;
	margin:0 auto;
	padding:37px 0 0;
	position:relative;
	background-color:#e4f2f3;
}
.l-block07 .l-title{
	width:100%;
	margin:0 auto;
	padding:0 0 20px;
}
.l-block07 .l-title h2{
	text-align:center;
}
.l-block07 .l-title h2 img{
	max-width:799px;
	width:100%;
}
.l-block07 .l-block07-01{
	width:100%;
	margin:0 auto;
	padding:0 0 30px;
	position:relative;
	z-index:3;
}
.l-block07 .l-title2{
	width:100%;
	margin:0 auto;
	padding:25px 25px 20px;
	background-color:#a0e1e5;
	border:1px solid #56999f;
	display:table;
}
.l-block07 .l-title2:hover{
	cursor:pointer;
}
.l-block07 .l-title2 p{
	display:table-cell;
	vertical-align:middle;
}
.l-block07 .l-title2 .p-title2{
	text-align:left;
	line-height:1.5;
	font-size:24px;
	color:#4d4a3b;
}
.l-block07 .l-title2 .p-title2 span{
	font-size:16px;
	position:relative;
	top:-3px;
	padding-left:50px;
	font-weight:bold;
}
.l-block07 .l-title2 .p-btn{
	text-align:right;
	line-height:0;
}
.l-block07 .l-open{
	width:100%;
	margin:0 auto;
	padding:0 0 0px;
}
.l-block07 .l-open .p-title{
	text-align:left;
	line-height:1.5;
	font-size:18px;
	color:#a48e5d;
	padding-top:18px;
	font-weight:bold;
}
.l-block07 .l-open .p-message{
	text-align:left;
	line-height:2;
	font-size:16px;
}
.l-block07 .p-image2 {
    position: absolute;
    top: 90.7%;
    right: 0;
    max-width: 1366px;
    width: 100%;
    z-index: 2;
}
.l-block07 .p-image2 img {
    max-width: 1366px;
    width: 100%;
}

.l-block08{
	width:100%;
	margin:0 auto;
	padding:72px 0 55px;
	position:relative;
}
.l-block08 .l-title{
	width:100%;
	margin:0 auto;
	padding:0;
	text-align:center;
}
.l-block08 .l-title h2{
	text-align:center;
}
.l-block08 .l-title h2 img{
	max-width:800px;
	width:100%;
}
.l-block08 .l-block08-01{
	width:100%;
	margin:0 auto;
	padding:0;
	text-align:left;
}
.l-block08 .l-block08-01 .p-question{
	width:100%;
	margin:0 auto;
	padding:5px 0 0 2.7em;
	font-size:24px;
	position:relative;
	color:#004a84;
}
.l-block08 .l-block08-01 .p-question:before{
	content:" ";
	background:url(../images/top/img_block08_02_pc.png) left top no-repeat transparent;
	position: absolute;
	top: 0;
	left: 7px;
	width:47px;
	height:48px;
	background-size:47px auto;
}
.l-block08 .l-block08-01 .p-answer{
	width:100%;
	margin:0 auto;
	padding:20px 0 35px 4em;
	font-size:16px;
    line-height: 2;
	position:relative;
	
	/*padding:20px 0 35px 2.5em;
	text-indent:-1.7em;
	text-align: left;
    line-height: 2;
    font-size: 16px;
	position:relative;*/
}
/*.l-block08 .l-block08-01 .p-answer:before{
	content:"A.";
	color:#dc4f24;
}*/
.l-block08 .l-block08-01 .p-answer:before{
	content:" ";
	background:url(../images/top/img_block08_03_pc.png) left top no-repeat transparent;
	position: absolute;
	top: 13px;
	left: 7px;
	width:47px;
	height:48px;
	background-size:47px auto;
}

.l-block09{
	width:100%;
	margin:0 auto;
	padding:60px 0 60px;
	background-color:#1d4a9f;
	position:relative;
}
.l-block09 .p-title{
	font-size:36px;
	line-height:2;
	color:#FFFFFF;
	padding-bottom:35px;
}
.l-block09 .p-title span{
	font-size:24px;
}
.l-block09 table{
	width:100%;
	margin:0 auto;
	padding:0 0;
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
}
.l-block09 table tr th{
	width:130px;
	text-align:left;
	padding:10px 0 0 2em;
	font-size:16px;
	line-height:2;
	color:#FFFFFF;
	vertical-align:top;
}
.l-block09 table tr:first-child th{
	padding-top:30px;
}
.l-block09 table tr:last-child th{
	padding-bottom:30px;
}
.l-block09 table tr td{
	width:auto;
	text-align:left;
	padding:10px 1em 0 20px;
	font-size:16px;
	line-height:2;
	color:#FFFFFF;
	vertical-align:top;
}
.l-block09 table tr:first-child td{
	padding-top:30px;
}
.l-block09 table tr:last-child td{
	padding-bottom:30px;
}


.l-block10{
	width:100%;
	margin-top:20px;
	margin-bottom:30px;
}
.l-block10 .p-map{
	overflow:hidden;
	height:400px;
	width:100%;
	position:relative;
}
.l-block10 .p-map iframe{
	width:100%;
	height:400px;
	/*height:800px;
	margin-top:-200px;	*/
	/*-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);*/
	border:0;
}
.l-block10 .p-map .image-overlay {
    mix-blend-mode: screen;
    background-color: #1d4a9f;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1000px){	
	
	.l-mvBlock{
		width:100%;
		line-height:0;
		padding-top:98px;
	}
	.l-mvBlock img{
		max-width:100%;
		width:100%;
		line-height:0;
	}
	
	.l-scrollBlock img{
		max-width:97px;
		width:100%;
		line-height:0;
	}
	
	.l-block01{
		width:100%;
		margin:0 auto;
		padding:0 0 42px;
		line-height:0;
	}
	.l-block01 .p-title {
		max-width: 100%;
		width: 100%;
		margin: 0 auto;
		padding: 28px 0 0;
		line-height: 0;
	}
	.l-block01 .p-title span{
		padding:0 15px;
		background-color:#FFFFFF;
		position:relative;
		z-index:2;
		font-size:21px;
	}
	.l-block01 .p-title:after{
		display:block;
		content:" ";
		border-top:1px solid #000000;
		position:relative;
		z-index:1;
		
	}
	.l-block01 .p-title img{
		max-width:756px;
		width:100%;
	}
	.l-block01 .l-block01-table{
		display:block;
		width:100%;
		margin:0 auto;
		line-height:0;
		text-align:center;
		padding:20px 20px 0;
	}
	.l-block01 .l-block01-table > p{
		display:block;
		vertical-align:top;
		padding-top:28px;
	}
	.l-block01 .l-block01-table > p a{
		display:block;
	}
	.l-block01 .l-block01-table > p:first-child{
		padding-right:0;
		text-align:center;
	}
	.l-block01 .l-block01-table > p:first-child img{
		max-width:1000px;
		width:100%;
	}
	.l-block01 .l-block01-table > p:last-child{
		padding-left:0;
		text-align:center;
	}
	.l-block01 .l-block01-table > p:last-child img{
		max-width:1000px;
		width:100%;
	}
	
	.l-block02{
		width: 100%;
		margin:0 auto;
		text-align:center;
		line-height:0;
		background:url(../images/top/bg_block02_sp.png) center top no-repeat transparent;
		background-size: cover;
		height:auto;
		padding:50px 0 35px;
	}
	.l-block02 .p-title{
		width:100%;
		margin:0 auto;
		padding:0px 0 15px;
		line-height:0;
		text-align:center;
	}
	.l-block02 .p-title img{
		max-width:194px;
		width:100%;
	}
	.l-block02 .l-block02-table{
		display:block;
		width:100%;
		margin:0 auto;
		line-height:0;
		text-align:center;
	}
	.l-block02 .l-block02-table > p{
		display:block;
		vertical-align:top;
		line-height:0;
	}
	.l-block02 .l-block02-table > p a{
		display:block;
		line-height:0;
	}
	.l-block02 .l-block02-table > p:first-child{
		padding-right:0;
		text-align:center;
		padding-bottom:15px;
	}
	.l-block02 .l-block02-table > p:last-child{
		padding-left:0;
		text-align:center;
	}
	.l-block02 .l-block02-table > p img{
		max-width:1000px;
		width:100%;
	}
	
	.l-block03{
		width: 100%;
		margin:0 auto;
		text-align:center;
		background:url(../images/top/bg_block03_01_pc.png) center center repeat transparent;
		background-size: cover;
		height:auto;
		padding:50px 0 8px;
	}
	.l-block03 > .p-title{
		width:100%;
		margin:0 auto;
		padding:0px 20px 35px;
		line-height:0;
		text-align:center;
	}
	.l-block03 > .p-title img{
		max-width:274px;
		width:100%;
	}
	
	.l-block03 .l-block03-01,
	.l-block03 .l-block03-02,
	.l-block03 .l-block03-03,
	.l-block03 .l-block03-04,
	.l-block03 .l-block03-05{
		width:100%;
		margin:0 auto;
		padding:0 0 0;
		text-align:left;
		position:relative;
	}
	.l-block03 .l-block03-01 > div,
	.l-block03 .l-block03-02 > div,
	.l-block03 .l-block03-03 > div,
	.l-block03 .l-block03-04 > div,
	.l-block03 .l-block03-05 > div{
		position:relative;
		z-index:2;
	}
	.l-block03 .l-block03-01 .p-image2{
		position: absolute;
		bottom: -25%;
		right: 0%;
		max-width: 1366px;
		width:100%;
		z-index:3;		
	}
	.l-block03 .l-block03-02 .p-image2{
		position: absolute;
		bottom: -43%;
		right: 0%;
		max-width: 1366px;
		width:100%;
		z-index:3;		
	}
	.l-block03 .l-block03-03 .p-image2{
		position: absolute;
		bottom: -30%;
		right: 0%;
		max-width: 1366px;
		width:100%;
		z-index:3;		
	}
	.l-block03 .l-block03-04 .p-image2{
		position: absolute;
		bottom: -43%;
		right: 0%;
		max-width: 1366px;
		width:100%;
		z-index:3;		
	}
	.l-block03 .l-block03-05 .p-image2{
		position: absolute;
		bottom: 62%;
		right: 0%;
		max-width: 1366px;
		width:100%;
		z-index:3;		
	}
	.l-block03 .l-block03-01 .p-image2 img,
	.l-block03 .l-block03-02 .p-image2 img,
	.l-block03 .l-block03-03 .p-image2 img,
	.l-block03 .l-block03-04 .p-image2 img,
	.l-block03 .l-block03-05 .p-image2 img{
		max-width: 1366px;
		width:100%;
	}
	.l-block03 .l-block03-01 .p-title img,
	.l-block03 .l-block03-02 .p-title img,
	.l-block03 .l-block03-03 .p-title img,
	.l-block03 .l-block03-04 .p-title img,
	.l-block03 .l-block03-05 .p-title img{
		max-width:140px;
		width:100%;
	}
	.l-block03 .l-block03-01 .l-block03-01-table,
	.l-block03 .l-block03-02 .l-block03-02-table,
	.l-block03 .l-block03-03 .l-block03-03-table,
	.l-block03 .l-block03-04 .l-block03-04-table,
	.l-block03 .l-block03-05 .l-block03-05-table{
		width:100%;
		margin:0 auto;
		padding:0px 0 42px;
	}
	.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock,
	.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock,
	.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock,
	.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock,
	.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock{
		float:none;
		max-width:100%;
		width:100%;
		position:relative;
		z-index:2;
		padding:0;
	}
	.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock .p-title,
	.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock .p-title,
	.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock .p-title,
	.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock .p-title,
	.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock .p-title{
		padding:0px 0 10px;
		text-align:center;
	}
	.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock .l-message,
	.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock .l-message,
	.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock .l-message,
	.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock .l-message,
	.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock .l-message{
		width:100%;
		margin:0 auto;
		padding:20px 20px 20px 20px;
		border:1px solid #77c3e7;
		background-color:#FFFFFF;
		position:relative;
		display:inline-block;
		vertical-align:top;
	}
	.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock .l-message:before,
	.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock .l-message:before,
	.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock .l-message:before,
	.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock .l-message:before,
	.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock .l-message:before{
		content: '';
		background:url(../images/top/bg_block03_02_pc.png) center top no-repeat transparent;
		position: absolute;
		top: 6px;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 60px;
		height: 15px;
		background-size: 60px auto;
	}
	.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock .l-message .p-title,
	.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock .l-message .p-title,
	.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock .l-message .p-title,
	.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock .l-message .p-title,
	.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock .l-message .p-title{
		padding-top:20px;
		font-size:25px;
		text-align:center;
		font-weight: bold;
	}
	.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock .l-message .p-message,
	.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock .l-message .p-message,
	.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock .l-message .p-message,
	.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock .l-message .p-message,
	.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock .l-message .p-message{
		font-size:20px;
		padding-top:5px;
		line-height:2;
		text-align:left;
		display:table;
		width:100%;
	}
	.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock .l-message .p-message > span,
	.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock .l-message .p-message > span,
	.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock .l-message .p-message > span,
	.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock .l-message .p-message > span,
	.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock .l-message .p-message > span{
		display:table-cell;
		vertical-align:top;
	}
	.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock .l-message .p-message > span:first-child,
	.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock .l-message .p-message > span:first-child,
	.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock .l-message .p-message > span:first-child,
	.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock .l-message .p-message > span:first-child,
	.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock .l-message .p-message > span:first-child{
		width:calc(100% - 177px);
		text-align:justify;
	}
	.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock .l-message .p-message > span:last-child,
	.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock .l-message .p-message > span:last-child,
	.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock .l-message .p-message > span:last-child,
	.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock .l-message .p-message > span:last-child,
	.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock .l-message .p-message > span:last-child{
		display:table-cell;
		width:177px;
		text-align:right;
		line-height:0;
		padding-left:10px;
	}
	.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock .l-message .p-message img,
	.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock .l-message .p-message img,
	.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock .l-message .p-message img,
	.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock .l-message .p-message img,
	.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock .l-message .p-message img{
		max-width:177px;
		width:100%;
	}
	.l-block03 .l-block03-01 .l-block03-01-table .l-image,
	.l-block03 .l-block03-02 .l-block03-02-table .l-image,
	.l-block03 .l-block03-03 .l-block03-03-table .l-image,
	.l-block03 .l-block03-04 .l-block03-04-table .l-image,
	.l-block03 .l-block03-05 .l-block03-05-table .l-image{
		display:none;
	}
	
	.l-block04{
		width: 100%;
		margin:0 auto;
		text-align:center;
		background-color:#abe4f5;
		padding:46px 0 77px;
		position:relative;
		background:url(../images/top/bg_block04_sp.png) center top no-repeat transparent;
		background-size:cover;
	}
	.l-block04 > div{
		position:relative;
		z-index:2;
	}
	.l-block04 .l-title{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0px 0 20px;
	}
	.l-block04 .l-title p{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-block04 .l-title p img{
		max-width: 454px;
		width:100%;
	}
	.l-block04 .l-block04-01{
		max-width: 100%;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:30px 20px;
		background-color:#FFFFFF;
		position:relative;
		z-index:1;
	}
	.l-block04 .l-block04-01 .p-title{
		width:100%;
		margin:0 auto;
		text-align:center;
		line-height:0;
		padding:0;
	}
	.l-block04 .l-block04-01 .p-title img{
		max-width:363px;
		width:100%;
	}
	.l-block04 .l-block04-01 .l-block04-01-table{
		width:100%;
		display:table;
		padding:30px 0 0;	
		position:relative;
	}
	.l-block04 .l-block04-01 .l-block04-01-table p{
		display:table-cell;
		vertical-align:middle;
	}
	.l-block04 .l-block04-01 .l-block04-01-table .p-image{
		width:63px;
		vertical-align:bottom;
	}
	.l-block04 .l-block04-01 .l-block04-01-table .p-image img{
		max-width:63px;
		width:100%;
	}
	.l-block04 .l-block04-01 .l-block04-01-table .p-message{
		width:auto;
		font-size:22px;
		text-align:left;
		padding:0px 0 0 15px;
		font-weight: bold;
	}
	.l-block04 .l-block04-01 .l-block04-01-table .p-photo{	
		width:30%;	
		position:absolute;
		bottom:-50px;
		right:0;
	}
	.l-block04 .l-block04-01 .l-block04-01-table .p-photo img{	
		position:static;
		max-width:202px;
		width:100%;
	}
	.l-block04 .l-block04-01 .l-block04-02-table{
		width:100%;
		display:table;
		padding:37px 0 0;	
		position:relative;
	}
	.l-block04 .l-block04-01 .l-block04-02-table p{
		display:table-cell;
		vertical-align:middle;
	}
	.l-block04 .l-block04-01 .l-block04-02-table .p-image{
		width:63px;
	}
	.l-block04 .l-block04-01 .l-block04-02-table .p-image img{
		max-width:63px;
		width:100%;
	}
	.l-block04 .l-block04-01 .l-block04-02-table .p-message{
		width:auto;
		font-size:20px;
		text-align:left;
		padding:0px 0 0 15px;
		font-weight: bold;
	}
	.l-block04 .l-block04-01 .l-block04-03-table{
		width:100%;
		display:table;
		padding:37px 0 0;	
		position:relative;
	}
	.l-block04 .l-block04-01 .l-block04-03-table p{
		display:table-cell;
		vertical-align:middle;
	}
	.l-block04 .l-block04-01 .l-block04-03-table .p-image{
		width:63px;
	}
	.l-block04 .l-block04-01 .l-block04-03-table .p-image img{
		max-width:63px;
		width:100%;
	}
	.l-block04 .l-block04-01 .l-block04-03-table .p-message{
		width:auto;
		font-size:20px;
		text-align:left;
		padding:0px 0 0 15px;
		font-weight: bold;
	}
	.l-block04 .l-block04-01 .l-block04-03-table .p-photo{	
		width:30%;	
		position:absolute;
		bottom:-50px;
		right:0;
	}
	.l-block04 .l-block04-01 .l-block04-03-table .p-photo img{	
		position:static;
		max-width:166px;
		width:100%;
	}
	.l-block04 .l-block04-01 .l-message{
		padding:70px 0 0 0;
	}
	.l-block04 .l-block04-01 .l-message p{
		font-size:20px;
		line-height:2.5;
		font-weight:bold;
	}
	.l-block04 .l-block04-01 .l-message p span{
		font-weight:normal;
	}
	.l-block04 .l-block04-01-image{
		width:100%;
		position:relative;
		z-index:2;
		height:30px;
	}
	.l-block04 .l-block04-01-image .p-image{
		width:100%;
		position:absolute;
		bottom:-130.5%;
		right:-20px;
	}
	.l-block04 .l-block04-01-image .p-image img{
		max-width: 1366px;
		width:100%;
	}
	.l-block04 .l-block04-02,
	.l-block04 .l-block04-03{
		max-width: 100%;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding: 30px 20px 0;
		background-color:#FFFFFF;
		position:relative;
		z-index:1;
	}
	.l-block04 .l-block04-02.p-last{
		max-width: 100%;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding: 30px 20px;
		background-color:#FFFFFF;
		position:relative;
		z-index:1;
	}
	.l-block04 .l-block04-02 .p-title,
	.l-block04 .l-block04-03 .p-title{
		width:100%;
		margin:0 auto;
		text-align:center;
		line-height:0;
		padding:0 0 30px;
	}
	.l-block04 .l-block04-02 .p-title img,
	.l-block04 .l-block04-03 .p-title img{
		max-width:362px;
		width:100%;
	}
	.l-block04 .l-block04-02 .l-title,
	.l-block04 .l-block04-03 .l-title{
		width:100%;
		margin:0 auto;
		display:block;
		text-align:left;
		position: relative;
		z-index:2;
		padding-left:0;
		padding-right: 0px;
	}
	.l-block04 .l-block04-02 .p-hikudashi {
		position: relative;
		display: block;
		margin: 0em 0;
		padding: 7px 10px;
		min-width: 120px;
		max-width: 100%;
		color: #555;
		font-size: 16px;
		background: #f29c9f;
		border: solid 3px #f29c9f;
		box-sizing: border-box;
	}
	.l-block04 .l-block04-02 .p-hikudashi:before{
		content: "";
		position: absolute;
		bottom: -17px;
		left: 10%;
		margin-left: -17px;
		border: 5px solid transparent;
		border-top: 9px solid #f29c9f;
		z-index: 2;
	}
	.l-block04 .l-block04-02 .p-hikudashi:after{
		content: "";
		position: absolute;
		bottom: -19px;
		left: 10%;
		margin-left: -17px;
		border: 5px solid transparent;
		border-top: 11px solid #f29c9f;
		z-index: 1;
	}
	.l-block04 .l-block04-03 .p-hikudashi {
		position: relative;
		display: block;
		margin: 0em 0;
		padding: 7px 10px;
		min-width: 120px;
		max-width: 100%;
		color: #555;
		font-size: 16px;
		background: #82c5c4;
		border: solid 3px #82c5c4;
		box-sizing: border-box;
	}
	.l-block04 .l-block04-03 .p-hikudashi:before{
		content: "";
		position: absolute;
		bottom: -17px;
		left: 10%;
		margin-left: -17px;
		border: 5px solid transparent;
		border-top: 9px solid #82c5c4;
		z-index: 2;
	}
	.l-block04 .l-block04-03 .p-hikudashi:after{
		content: "";
		position: absolute;
		bottom: -19px;
		left: 10%;
		margin-left: -17px;
		border: 5px solid transparent;
		border-top: 11px solid #82c5c4;
		z-index: 1;
	}
	.l-block04 .l-block04-02 .p-hikudashi p,
	.l-block04 .l-block04-03 .p-hikudashi p {
		display:inline-block;
		margin: 0;
		padding: 0;
		color:#000000;
		font-size:20px;
		text-align:left;
		width:auto;
		vertical-align:bottom;
	}
	.l-block04 .l-block04-02 .p-hikudashi .p-photo,
	.l-block04 .l-block04-03 .p-hikudashi .p-photo {
    	display: inline-block;
		padding-left:40px;
		vertical-align:bottom;
	}
	.l-block04 .l-block04-02 .p-hikudashi .p-photo img,
	.l-block04 .l-block04-03 .p-hikudashi .p-photo img {
    	max-width:52px;
		width:100%;
	}
	.l-block04 .l-block04-02 .p-hikudashi p span,
	.l-block04 .l-block04-03 .p-hikudashi p span {
		display:inline-block;
		vertical-align:middle;
		font-size:25px;
		padding-right:10px;
		font-weight:bold;
		position: relative;
	}
	.l-block04 .l-block04-02 .p-hikudashi p span.Mincho,
	.l-block04 .l-block04-03 .p-hikudashi p span.Mincho {
		font-weight:normal;
		position: relative;
		top: -2px;
		font-size:28px;
	}
	.l-block04 .l-block04-02 .p-image,
	.l-block04 .l-block04-03 .p-image {
		display:none;
		width:81px;
		vertical-align:middle;
		padding-left:20px;
	}
	.l-block04 .l-block04-02 .p-image img,
	.l-block04 .l-block04-03 .p-image img {
		max-width:61px;
		width:100%;
	}
	.l-block04 .l-block04-02 .l-message,
	.l-block04 .l-block04-03 .l-message{
		width:100%;
		margin:0 auto;
		display:block;
		text-align:left;
		background-color:#f1f1e7;
		padding:80px 20px 20px;
		position:relative;
		z-index:1;
		margin-top:-81px;
	}
	.l-block04 .l-block04-02 .l-message p,
	.l-block04 .l-block04-03 .l-message p{
		font-size:20px;
		line-height:2;	
		text-align:justify;
	}	
	.l-block04 .l-block04-04{
		max-width: 100%;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0px 20px 30px 20px;
		background-color:#FFFFFF;
		position:relative;
		z-index:1;
	}
	.l-block04 .l-block04-04 p{
		text-align:right;
		font-size:14px;
	}
	.l-block04 .p-image2 {
		position: absolute;
		top: 96%;
		left: 0;
		max-width: 1366px;
		width: 100%;
		z-index: 3;
	}
	.l-block04 .p-image2 img {
		max-width: 1366px;
		width: 100%;
	}
	
	.l-block05{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:63px 0 175px;
		background:url(../images/top/bg_block05_pc.png) center top no-repeat transparent;
		background-size:cover;
		position:relative;
	}
	.l-block05:after{
		content:" ";
		background:url(../images/top/img_block05_05_sp.png) center bottom no-repeat transparent;
		position: absolute;
		left:0;
		right:0;
		bottom: 0px;
		width:406px;
		height:144px;
		background-size:406px auto;
		display:inline-block;
		margin:0 auto;
		text-align:center;
	}
	.l-block05 .l-block05-00{
		position:relative;
	}
	.l-block05 .l-block05-00 .p-title{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-block05 .l-block05-00 .p-title img{
		max-width: 291px;
		width:100%;
	}
	.l-block05 .l-block05-00 .p-image{
		width: 100%;
		margin:0 auto;
		text-align:right;
		padding:0;
		position:absolute;
		top:-85%;
		right:0;
	}
	.l-block05 .l-block05-00 .p-image img{
		max-width: 1366px;
		width:100%;
	}
	
	.l-block05 .l-block05-01{
		margin-top:125px;
		position:relative;
		width:100%;
	}
	.l-block05 .l-block05-01 .l-block05-01-back{
		background:url(../images/top/bg_block05_01_pc.png) left top repeat transparent;
		position: absolute;
		top: 0;
		left: 0;
		width:100px;
		height:100px;
	}
	.l-block05 .l-block05-01 > div{
		position:relative;
		width:100%;
	}
	.l-block05 .l-block05-01 .l-block05-01-2-back{
		background:url(../images/top/bg_block05_01_2_sp.png) left top no-repeat transparent;
		position: absolute;
		top: 0;
		left: 0;
		width:100px;
		height:100px;
		background-size:100% auto;
	}
	.l-block05 .l-block05-01 > div .l-message{
		max-width:560px;
		width:100%;
		position:relative;
		top:-60px;
		display:inline-block;
		vertical-align:bottom;
	}
	.l-block05 .l-block05-01 > div .l-message .p-title{
		text-align:left;
		position:relative;
		font-size: 24px;
		line-height: 1.5;
		color:#024987;
		padding-bottom:10px;
	}
	.l-block05 .l-block05-01 > div .l-message .p-title span{
		font-size: 31px;
		font-weight:bold;
	}
	.l-block05 .l-block05-01 > div .l-message .p-message{
		text-align:justify;
		position:relative;
		font-size: 21px;
		line-height: 2;
	}
	.l-block05 .l-block05-01 > div .l-message .p-message > img{
		display:inline;
		text-align:right;
		float:right;
		padding-left:20px;
		padding-top:10px;
		max-width:90px;
		width:100%;
	}
	.l-block05 .l-block05-01 > div .l-image{
		display:none;
	}
	
	.l-block05 .l-block05-02{
		margin-top:120px;
		position:relative;
		width:100%;
	}
	.l-block05 .l-block05-02 .l-block05-02-back{
		background:url(../images/top/bg_block05_02_pc.png) left top repeat transparent;
		position: absolute;
		top: 0;
		right: 0;
		width:100px;
		height:100px;
	}
	.l-block05 .l-block05-02 > div{
		position:relative;
		width:100%;
	}
	.l-block05 .l-block05-02 .l-block05-02-2-back{
		background:url(../images/top/bg_block05_02_2_sp.png) left top no-repeat transparent;
		position: absolute;
		top: 0;
		left: 0;
		width:100px;
		height:100px;
		background-size:100% auto;
	}
	.l-block05 .l-block05-02 > div .l-message{
		max-width:560px;
		width:100%;
		position:relative;
		top:-60px;
		display:inline-block;
		vertical-align:bottom;
	}
	.l-block05 .l-block05-02 > div .l-message .p-title{
		text-align:left;
		position:relative;
		font-size: 24px;
		line-height: 1.5;
		color:#ea6777;
		padding-bottom:10px;
	}
	.l-block05 .l-block05-02 > div .l-message .p-title span{
		font-size: 31px;
		font-weight:bold;
	}
	.l-block05 .l-block05-02 > div .l-message .p-message{
		text-align:justify;
		position:relative;
		font-size: 21px;
		line-height: 2;
	}
	.l-block05 .l-block05-02 > div .l-message .p-message > img{
		display:inline;
		text-align:left;
		float:left;
		padding-right:20px;
		padding-top:10px;
		max-width:90px;
		width:100%;
	}
	.l-block05 .l-block05-02 > div .l-image{
		display:none;
	}
	
	.l-block05 .l-block05-03{
		margin-top:120px;
		position:relative;
		width:100%;
	}
	.l-block05 .l-block05-03 .l-block05-03-back{
		background:url(../images/top/bg_block05_03_pc.png) left top repeat transparent;
		position: absolute;
		top: 0;
		left: 0;
		width:100px;
		height:100px;
	}
	.l-block05 .l-block05-03 > div{
		position:relative;
		width:100%;
	}
	.l-block05 .l-block05-03 .l-block05-03-2-back{
		background:url(../images/top/bg_block05_03_2_sp.png) left top no-repeat transparent;
		position: absolute;
		top: 0;
		left: 0;
		width:100px;
		height:100px;
		background-size:100% auto;
	}
	.l-block05 .l-block05-03 > div .l-message{
		max-width:560px;
		width:100%;
		position:relative;
		top:-60px;
		display:inline-block;
		vertical-align:bottom;
	}
	.l-block05 .l-block05-03 > div .l-message .p-title{
		text-align:left;
		position:relative;
		font-size: 24px;
		line-height: 1.5;
		color:#ea6777;
		padding-bottom:10px;
	}
	.l-block05 .l-block05-03 > div .l-message .p-title span{
		font-size: 31px;
		font-weight:bold;
	}
	.l-block05 .l-block05-03 > div .l-message .p-message{
		text-align:justify;
		position:relative;
		font-size: 21px;
		line-height: 2;
	}
	.l-block05 .l-block05-03 > div .l-message .p-message > img{
		display:inline;
		text-align:right;
		float:right;
		padding-left:20px;
		padding-top:10px;
		max-width:90px;
		width:100%;
	}
	.l-block05 .l-block05-03 > div .l-image{
		display:none;
	}
	
	.l-block05 .l-block05-04{
		width:100%;
		margin:0 auto;
		padding:53px 40px 0;
		position:relative;
	}
	.l-block05 .l-block05-04:after{
		content:" ";
		background:url(../images/top/ico_block05_04_pc.png) center bottom no-repeat transparent;
		position: absolute;
		left:0;
		right:0;
		bottom: -28px;
		width:56px;
		height:28px;
		background-size:56px auto;
		display:inline-block;
		margin:0 auto;
		text-align:center;
	}
	.l-block05 .l-block05-04 > .p-message{
		max-width:100%;
		width:100%;
		margin:0 auto;
		padding:30px 25px;
		position:relative;
		font-size: 18px;
		line-height: 1.4;
		z-index: 4;
		background-color:#FFFFFF;
	}
	.l-block05 .l-block05-04 > .p-message:before{
		content:" ";
		background:url(../images/top/img_block05_03_sp.png) left top no-repeat transparent;
		position: absolute;
		top: 30px;
		left: 25px;
		width:15px;
		height:12px;
		background-size:15px auto;
	}
	.l-block05 .l-block05-04 > .p-message:after{
		content:" ";
		background:url(../images/top/img_block05_04_sp.png) left top no-repeat transparent;
		position: absolute;
		bottom: 30px;
		right: 25px;
		width:15px;
		height:12px;
		background-size:15px auto;
	}
	
	.l-block06{
		width:100%;
		margin:0 auto;
		padding:35px 0;
		position:relative;
	}
	.l-block06 .l-title{
		width:100%;
		margin:0 auto;
		padding:0 0 25px;
	}
	.l-block06 .l-title h2{
		text-align:center;
	}
	.l-block06 .l-title h2 img{
		max-width:356px;
		width:100%;
	}
	.l-block06 .l-block06-table{
		width:100%;
		margin:0 auto;
		padding:0 0 0;
		display:table;
		overflow: hidden;
	}
	.l-block06 .l-block06-table .l-message{
		display:table-cell;
		width:585px;
		vertical-align:top;
	}
	.l-block06 .l-block06-table .l-message .space {
		display:block;
		float: right;/*画像の位置を右下にしたい場合はright*/
		height: 12em/*画像上の余白の高さ*/
	}
	.l-block06 .l-block06-table .l-message .img {
		display:inline;
		float: right;/*画像の位置を右下にしたい場合はright*/
		clear: both;/*.spaceのfloat解除*/
		margin: 1.2em 1.2em 0 2.5em;/*画像の周りの余白*/
	}
	.l-block06 .l-block06-table .l-message .p-message{
		font-size: 21px;
		line-height: 2.5;
		text-align:left;
	}
	.l-block06 .l-block06-table .l-message .p-message img{
		display:inline-block;
		text-align:right;
		float:right;
		padding-top:50px;
	}
	.l-block06 .l-block06-table .l-message .p-image{
		display:none;
	}
	.l-block06 .l-block06-table .l-photo{
		display:none;
	}
	
	.l-block07{
		width:100%;
		margin:0 auto;
		padding:18px 0 30px;
		position:relative;
		background-color:#e4f2f3;
	}
	.l-block07 .l-title{
		width:100%;
		margin:0 auto;
		padding:0 20px 20px;
	}
	.l-block07 .l-title h2{
		text-align:center;
	}
	.l-block07 .l-title h2 img{
		max-width:799px;
		width:100%;
	}
	.l-block07 .l-block07-01{
		width:100%;
		margin:0 auto;
		padding:0 20px 30px;
		position:relative;
		z-index:3;
	}
	.l-block07 .l-title2{
		width:100%;
		margin:0 auto;
		padding:20px;
		background-color:#a0e1e5;
		border:1px solid #56999f;
		display:table;
	}
	.l-block07 .l-title2:hover{
		cursor:pointer;
	}
	.l-block07 .l-title2 p{
		display:table-cell;
		vertical-align:middle;
	}
	.l-block07 .l-title2 .p-title2{
		text-align:center;
		line-height:1.5;
		font-size:28px;
		color:#4d4a3b;
	}
	.l-block07 .l-title2 .p-title2 span{
		font-size:17px;
		position:relative;
		top:0;
		padding-left:0;
		font-weight:bold;
		display:block;
	}
	.l-block07 .l-title2 .p-btn{
		text-align:right;
		line-height:0;
	}
	.l-block07 .l-title2 .p-btn img{
		max-width:28px;
		width:100%;
	}
	.l-block07 .l-open{
		width:100%;
		margin:0 auto;
		padding:0 0 0px;
	}
	.l-block07 .l-open .p-title{
		text-align:left;
		line-height:1.5;
		font-size:20px;
		color:#a48e5d;
		padding-top:18px;
		font-weight:bold;
	}
	.l-block07 .l-open .p-message{
		text-align:left;
		line-height:2;
		font-size:20px;
	}
	.l-block07 .l-open .p-message br{
		display:none;
	}
	
	.l-block08{
		width:100%;
		margin:0 auto;
		padding:15px 0 42px;
		position:relative;
	}
	.l-block08 .l-title{
		width:100%;
		margin:0 auto;
		padding:0;
		text-align:center;
	}
	.l-block08 .l-title h2{
		text-align:center;
	}
	.l-block08 .l-title h2 img{
		max-width:525px;
		width:100%;
	}
	.l-block08 .l-block08-01{
		width:100%;
		margin:0 auto;
		padding:0;
		text-align:left;
	}
	.l-block08 .l-block08-01 .p-question{
		width:100%;
		margin:0 auto;
		padding:5px 0 0 2.7em;
		font-size:21px;
		position:relative;
		color:#004a84;
	}
	.l-block08 .l-block08-01 .p-question:before{
		content:" ";
		background:url(../images/top/img_block08_02_sp.png) left top no-repeat transparent;
		position: absolute;
		top: 0;
		left: 7px;
		width:42px;
		height:42px;
		background-size:42px auto;
	}
	.l-block08 .l-block08-01 .p-answer{
		width:100%;
		margin:0 auto;
		padding:20px 0 35px 3.2em;
		font-size:18px;
		line-height: 2;
		position:relative;
		font-weight:normal;
	}
	.l-block08 .l-block08-01 .p-answer:before{
		content:" ";
		background:url(../images/top/img_block08_03_sp.png) left top no-repeat transparent;
		position: absolute;
		top: 20px;
		left: 7px;
		width:42px;
		height:42px;
		background-size:42px auto;
	}
	
	.l-block09{
		width:100%;
		margin:0 auto;
		padding:50px 0 50px;
		background-color:#1d4a9f;
	}
	.l-block09 > div{
		max-width:100%;
		width:100%;
	}
	.l-block09 .p-title{
		font-size:31px;
		line-height:2;
		color:#FFFFFF;
		padding-bottom:35px;
	}
	.l-block09 .p-title span{
		font-size:24px;
	}
	.l-block09 table{
		width:100%;
		margin:0 auto;
		padding:0 0;
		border-top:1px solid #FFFFFF;
		border-bottom:1px solid #FFFFFF;
	}
	.l-block09 table tr th{
		width:130px;
		text-align:left;
		padding:10px 0 0 20px;
		font-size:20px;
		line-height:2;
		color:#FFFFFF;
		vertical-align:top;
		font-weight:bold;
	}
	.l-block09 table tr:first-child th{
		padding-top:30px;
	}
	.l-block09 table tr:last-child th{
		padding-bottom:30px;
	}
	.l-block09 table tr td{
		width:auto;
		text-align:left;
		padding:10px 1em 0 20px;
		font-size:20px;
		line-height:2;
		color:#FFFFFF;
		vertical-align:top;
	}
	.l-block09 table tr:first-child td{
		padding-top:30px;
	}
	.l-block09 table tr:last-child td{
		padding-bottom:30px;
	}

}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:768px){

	
	.l-block04 .l-block04-01-image .p-image{
		width:100%;
		position:absolute;
		bottom:-130.5%;
		right:-15px;
	}
	
	.l-block04 .p-image2 {
		position: absolute;
		top: 98%;
		left: 0;
		max-width: 1366px;
		width: 100%;
		z-index: 3;
	}
	
	.l-block10 .p-map{
		overflow:hidden;
		height:250px;
		width:100%;
	}
	.l-block10 .p-map iframe{
		width:100%;
		height:250px;
		/*height:600px;
		margin-top:-160px;*/	
		/*-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: grayscale(100%);*/
	}
	
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	.l-mvBlock{
		width:100%;
		line-height:0;
		padding-top:70px;
	}
	
	.l-scrollBlock {
		width: 100%;
		margin: 0 auto;
		padding: 20px 0 0;
		text-align: center;
		line-height: 0;
	}
	.l-scrollBlock img{
		max-width:69px;
		width:100%;
		line-height:0;
	}
	
	.l-block01{
		width:100%;
		margin:0 auto;
		padding:0 0 30px;
		line-height:0;
	}
	.l-block01 .p-title {
		max-width: 100%;
		width: 100%;
		margin: 0 auto;
		padding: 10px 0 0;
		line-height: 0;
	}
	.l-block01 .p-title span{
		padding:0 10px;
		background-color:#FFFFFF;
		position:relative;
		z-index:2;
		font-size:15px;
	}
	.l-block01 .p-title:after{
		display:block;
		content:" ";
		border-top:1px solid #000000;
		position:relative;
		z-index:1;
		
	}
	.l-block01 .l-block01-table{
		display:block;
		width:100%;
		margin:0 auto;
		line-height:0;
		text-align:center;
		padding:15px 15px 0;
	}
	.l-block01 .l-block01-table > p{
		display:block;
		vertical-align:top;
		padding-top:20px;
	}
	.l-block01 .l-block01-table > p a{
		display:block;
	}
	.l-block01 .l-block01-table > p:first-child{
		padding-right:0;
		text-align:center;
	}
	.l-block01 .l-block01-table > p:first-child img{
		max-width:480px;
		width:100%;
	}
	.l-block01 .l-block01-table > p:last-child{
		padding-left:0;
		text-align:center;
	}
	.l-block01 .l-block01-table > p:last-child img{
		max-width:480px;
		width:100%;
	}
	
	.l-block02{
		width: 100%;
		margin:0 auto;
		text-align:center;
		line-height:0;
		background:url(../images/top/bg_block02_sp.png) center top no-repeat transparent;
		background-size: cover;
		height:auto;
		padding:35px 0 25px;
	}
	.l-block02 .p-title{
		width:100%;
		margin:0 auto;
		padding:0px 0 10px;
		line-height:0;
		text-align:center;
	}
	.l-block02 .p-title img{
		max-width:146px;
		width:100%;
	}
	.l-block02 .l-block02-table{
		display:block;
		width:100%;
		margin:0 auto;
		line-height:0;
		text-align:center;
	}
	.l-block02 .l-block02-table > p{
		display:block;
		vertical-align:top;
		line-height:0;
	}
	.l-block02 .l-block02-table > p a{
		display:block;
		line-height:0;
	}
	.l-block02 .l-block02-table > p:first-child{
		padding-right:0;
		text-align:center;
		padding-bottom:10px;
	}
	.l-block02 .l-block02-table > p:last-child{
		padding-left:0;
		text-align:center;
	}
	.l-block02 .l-block02-table > p img{
		max-width:1000px;
		width:100%;
	}
	
	.l-block03 {
		width: 100%;
		margin: 0 auto;
		text-align: center;
		background: url(../images/top/bg_block03_01_pc.png) center center repeat transparent;
		background-size: cover;
		height: auto;
		padding: 35px 0 5px;
	}
	.l-block03 > .p-title {
		width: 100%;
		margin: 0 auto;
		padding: 0px 10px 25px;
		line-height: 0;
		text-align: center;
	}
	.l-block03 > .p-title img {
		max-width: 181px;
		width: 100%;
	}
	.l-block03 .l-block03-01,
	.l-block03 .l-block03-02,
	.l-block03 .l-block03-03,
	.l-block03 .l-block03-04,
	.l-block03 .l-block03-05{
		width:100%;
		margin:0 auto;
		padding:0 0 0;
		text-align:left;
		position:relative;
	}
	.l-block03 .l-block03-01 > div,
	.l-block03 .l-block03-02 > div,
	.l-block03 .l-block03-03 > div,
	.l-block03 .l-block03-04 > div,
	.l-block03 .l-block03-05 > div{
		position:relative;
		z-index:2;
	}
	.l-block03 .l-block03-01 .p-image2{
		position: absolute;
		bottom: -21%;
		right: 0%;
		max-width: 1366px;
		width:100%;
		z-index:3;		
	}
	.l-block03 .l-block03-02 .p-image2{
		position: absolute;
		bottom: -28%;
		right: 0%;
		max-width: 1366px;
		width:100%;
		z-index:3;		
	}
	.l-block03 .l-block03-03 .p-image2{
		position: absolute;
		bottom: -23%;
		right: 0%;
		max-width: 1366px;
		width:100%;
		z-index:3;		
	}
	.l-block03 .l-block03-04 .p-image2{
		position: absolute;
		bottom: -28%;
		right: 0%;
		max-width: 1366px;
		width:100%;
		z-index:3;		
	}
	.l-block03 .l-block03-05 .p-image2 {
		position: absolute;
		bottom: 68%;
		right: 0%;
		max-width: 1366px;
		width: 100%;
		z-index: 3;
	}
	.l-block03 .l-block03-01 .p-title img,
	.l-block03 .l-block03-02 .p-title img,
	.l-block03 .l-block03-03 .p-title img,
	.l-block03 .l-block03-04 .p-title img,
	.l-block03 .l-block03-05 .p-title img{
		max-width:100px;
		width:100%;
	}
	.l-block03 .l-block03-01 .l-block03-01-table,
	.l-block03 .l-block03-02 .l-block03-02-table,
	.l-block03 .l-block03-03 .l-block03-03-table,
	.l-block03 .l-block03-04 .l-block03-04-table,
	.l-block03 .l-block03-05 .l-block03-05-table{
		width:100%;
		margin:0 auto;
		padding:0px 0 30px;
	}
	.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock,
	.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock,
	.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock,
	.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock,
	.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock{
		float:none;
		max-width:100%;
		width:100%;
		position:relative;
		z-index:2;
	}
	.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock .p-title,
	.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock .p-title,
	.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock .p-title,
	.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock .p-title,
	.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock .p-title{
		padding:0px 0 7px;
		text-align:center;
	}
	.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock .l-message,
	.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock .l-message,
	.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock .l-message,
	.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock .l-message,
	.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock .l-message{
		width:100%;
		margin:0 auto;
		padding:10px;
		border:1px solid #77c3e7;
		background-color:#FFFFFF;
		position:relative;
		display:inline-block;
		vertical-align:top;
	}
	.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock .l-message:before,
	.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock .l-message:before,
	.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock .l-message:before,
	.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock .l-message:before,
	.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock .l-message:before{
		content: '';
		background:url(../images/top/bg_block03_02_pc.png) center top no-repeat transparent;
		position: absolute;
		top: 4px;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 40px;
		height: 10px;
		background-size: 40px auto;
	}
	.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock .l-message .p-title,
	.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock .l-message .p-title,
	.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock .l-message .p-title,
	.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock .l-message .p-title,
	.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock .l-message .p-title{
		padding-top:10px;
		font-size:18px;
		text-align:center;
		font-weight: bold;
	}
	.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock .l-message .p-title{
		padding-top:20px;
		font-size:18px;
		text-align:center;
		font-weight: bold;
	}
	.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock .l-message .p-message,
	.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock .l-message .p-message,
	.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock .l-message .p-message,
	.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock .l-message .p-message,
	.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock .l-message .p-message{
		font-size:14px;
		padding-top:5px;
		line-height:2;
		text-align:left;
		display:table;
	}
	.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock .l-message .p-message > span,
	.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock .l-message .p-message > span,
	.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock .l-message .p-message > span,
	.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock .l-message .p-message > span,
	.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock .l-message .p-message > span{
		display:table-cell;
		vertical-align:top;
	}
	.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock .l-message .p-message > span:first-child,
	.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock .l-message .p-message > span:first-child,
	.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock .l-message .p-message > span:first-child,
	.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock .l-message .p-message > span:first-child,
	.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock .l-message .p-message > span:first-child{
		width:calc(100% - 127px);
		text-align:justify;
	}
	.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock .l-message .p-message > span:last-child,
	.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock .l-message .p-message > span:last-child,
	.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock .l-message .p-message > span:last-child,
	.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock .l-message .p-message > span:last-child,
	.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock .l-message .p-message > span:last-child{
		width:127px;
		text-align:right;
		padding-left:5px;
	}
	.l-block03 .l-block03-01 .l-block03-01-table .l-messageblock .l-message .p-message img,
	.l-block03 .l-block03-02 .l-block03-02-table .l-messageblock .l-message .p-message img,
	.l-block03 .l-block03-03 .l-block03-03-table .l-messageblock .l-message .p-message img,
	.l-block03 .l-block03-04 .l-block03-04-table .l-messageblock .l-message .p-message img,
	.l-block03 .l-block03-05 .l-block03-05-table .l-messageblock .l-message .p-message img{
		max-width:127px;
		width:100%;
	}
	.l-block03 .l-block03-01 .l-block03-01-table .l-image,
	.l-block03 .l-block03-02 .l-block03-02-table .l-image,
	.l-block03 .l-block03-03 .l-block03-03-table .l-image,
	.l-block03 .l-block03-04 .l-block03-04-table .l-image,
	.l-block03 .l-block03-05 .l-block03-05-table .l-image{
		display:none;
	}
	
	.l-block04{
		width: 100%;
		margin:0 auto;
		text-align:center;
		background-color:#abe4f5;
		padding:30px 0 55px;
		position:relative;
		background:url(../images/top/bg_block04_sp.png) center top no-repeat transparent;
		background-size:cover;
	}
	.l-block04 > div{
		position:relative;
		z-index:2;
	}
	.l-block04 .l-title{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0px 0 15px;
	}
	.l-block04 .l-title p{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-block04 .l-title p img{
		max-width: 325px;
		width:100%;
	}
	.l-block04 .l-block04-01{
		max-width: 100%;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:20px 5px;
		background-color:#FFFFFF;
		position:relative;
		z-index:1;
	}
	.l-block04 .l-block04-01 .p-title{
		width:100%;
		margin:0 auto;
		text-align:center;
		line-height:0;
		padding:0;
	}
	.l-block04 .l-block04-01 .p-title img{
		max-width:209px;
		width:100%;
	}
	.l-block04 .l-block04-01 .l-block04-01-table{
		width:100%;
		display:table;
		padding:20px 0 0;	
		position:relative;
	}
	.l-block04 .l-block04-01 .l-block04-01-table p{
		display:table-cell;
		vertical-align:middle;
	}
	.l-block04 .l-block04-01 .l-block04-01-table .p-image{
		width:40px;
		vertical-align:bottom;
	}
	.l-block04 .l-block04-01 .l-block04-01-table .p-image img{
		max-width:40px;
		width:100%;
	}
	.l-block04 .l-block04-01 .l-block04-01-table .p-message{
		width:calc(100% - 40px);
		font-size:15px;
		text-align:left;
		padding:0px 0 0 10px;
		font-weight: bold;
	}
	.l-block04 .l-block04-01 .l-block04-01-table .p-photo{	
		width:30%;	
		position:absolute;
		bottom:-35px;
		right:0;
	}
	.l-block04 .l-block04-01 .l-block04-01-table .p-photo img{	
		position:static;
		max-width:144px;
		width:100%;
	}
	.l-block04 .l-block04-01 .l-block04-02-table{
		width:100%;
		display:table;
		padding:25px 0 0;	
		position:relative;
	}
	.l-block04 .l-block04-01 .l-block04-02-table p{
		display:table-cell;
		vertical-align:middle;
	}
	.l-block04 .l-block04-01 .l-block04-02-table .p-image{
		width:40px;
	}
	.l-block04 .l-block04-01 .l-block04-02-table .p-image img{
		max-width:40px;
		width:100%;
	}
	.l-block04 .l-block04-01 .l-block04-02-table .p-message{
		width:calc(100% - 40px);
		font-size:13px;
		text-align:left;
		padding:0px 0 0 10px;
		font-weight: bold;
	}
	.l-block04 .l-block04-01 .l-block04-03-table{
		width:100%;
		display:table;
		padding:25px 0 0;	
		position:relative;
	}
	.l-block04 .l-block04-01 .l-block04-03-table p{
		display:table-cell;
		vertical-align:middle;
	}
	.l-block04 .l-block04-01 .l-block04-03-table .p-image{
		width:40px;
	}
	.l-block04 .l-block04-01 .l-block04-03-table .p-image img{
		max-width:40px;
		width:100%;
	}
	.l-block04 .l-block04-01 .l-block04-03-table .p-message{
		width:calc(100% - 40px);
		font-size:13px;
		text-align:left;
		padding:0px 0 0 10px;
		font-weight: bold;
	}
	.l-block04 .l-block04-01 .l-block04-03-table .p-photo{	
		width:30%;	
		position:absolute;
		bottom:-35px;
		right:0;
	}
	.l-block04 .l-block04-01 .l-block04-03-table .p-photo img{	
		position:static;
		max-width:135px;
		width:100%;
	}
	.l-block04 .l-block04-01 .l-message{
		padding:50px 0 0 0;
	}
	.l-block04 .l-block04-01 .l-message p{
		font-size:13px;
		line-height:2;
		/*font-weight:bold;*/
	}
	.l-block04 .l-block04-01 .l-message p span{
		font-weight:100;
	}
	.l-block04 .l-block04-01-image{
		width:100%;
		position:relative;
		z-index:2;
		height:30px;
	}
	.l-block04 .l-block04-01-image .p-image{
		width:100%;
		position:absolute;
		bottom:-43.5%;
		right:-10px;
	}
	.l-block04 .l-block04-01-image .p-image img{
		max-width: 1366px;
		width:100%;
	}
	
	.l-block04 .l-block04-02,
	.l-block04 .l-block04-03{
		max-width: 100%;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding: 20px 15px 0;
		background-color:#FFFFFF;
		position:relative;
		z-index:1;
	}
	.l-block04 .l-block04-02.p-last{
		max-width: 100%;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding: 20px 15px;
		background-color:#FFFFFF;
		position:relative;
		z-index:1;
	}
	.l-block04 .l-block04-02 .p-title,
	.l-block04 .l-block04-03 .p-title{
		width:100%;
		margin:0 auto;
		text-align:center;
		line-height:0;
		padding:0 0 20px;
	}
	.l-block04 .l-block04-02 .p-title img,
	.l-block04 .l-block04-03 .p-title img{
		max-width:207px;
		width:100%;
	}
	.l-block04 .l-block04-02 .l-title,
	.l-block04 .l-block04-03 .l-title{
		width:100%;
		margin:0 auto;
		display:block;
		text-align:left;
		position: relative;
		z-index:2;
		padding-left:0;
		padding-right: 0px;
	}
	.l-block04 .l-block04-02 .p-hikudashi {
		position: relative;
		display: block;
		margin: 0em 0;
		padding: 7px 10px;
		min-width: 120px;
		max-width: 100%;
		color: #555;
		font-size: 16px;
		background: #f29c9f;
		border: solid 3px #f29c9f;
		box-sizing: border-box;
	}
	.l-block04 .l-block04-02 .p-hikudashi:before{
		content: "";
		position: absolute;
		bottom: -17px;
		left: 10%;
		margin-left: -17px;
		border: 5px solid transparent;
		border-top: 9px solid #f29c9f;
		z-index: 2;
	}
	.l-block04 .l-block04-02 .p-hikudashi:after{
		content: "";
		position: absolute;
		bottom: -19px;
		left: 10%;
		margin-left: -17px;
		border: 5px solid transparent;
		border-top: 11px solid #f29c9f;
		z-index: 1;
	}
	.l-block04 .l-block04-03 .p-hikudashi {
		position: relative;
		display: block;
		margin: 0em 0;
		padding: 7px 10px;
		min-width: 120px;
		max-width: 100%;
		color: #555;
		font-size: 16px;
		background: #82c5c4;
		border: solid 3px #82c5c4;
		box-sizing: border-box;
	}
	.l-block04 .l-block04-03 .p-hikudashi:before{
		content: "";
		position: absolute;
		bottom: -17px;
		left: 10%;
		margin-left: -17px;
		border: 5px solid transparent;
		border-top: 9px solid #82c5c4;
		z-index: 2;
	}
	.l-block04 .l-block04-03 .p-hikudashi:after{
		content: "";
		position: absolute;
		bottom: -19px;
		left: 10%;
		margin-left: -17px;
		border: 5px solid transparent;
		border-top: 11px solid #82c5c4;
		z-index: 1;
	}
	.l-block04 .l-block04-02 .p-hikudashi p,
	.l-block04 .l-block04-03 .p-hikudashi p {
		display:inline-block;
		margin: 0;
		padding: 0;
		color:#000000;
		font-size:15px;
		text-align:left;
		width:calc(100% - 42px);
		vertical-align:bottom;
	}
	.l-block04 .l-block04-02 .p-hikudashi .p-photo,
	.l-block04 .l-block04-03 .p-hikudashi .p-photo {
		width:42px;
    	display: inline-block;
		padding-left:5px;
		vertical-align:bottom;
	}
	.l-block04 .l-block04-02 .p-hikudashi .p-photo img,
	.l-block04 .l-block04-03 .p-hikudashi .p-photo img {
    	max-width:37px;
		width:100%;
	}
	.l-block04 .l-block04-02 .p-hikudashi p span,
	.l-block04 .l-block04-03 .p-hikudashi p span {
		display:inline-block;
		vertical-align:middle;
		font-size:18px;
		padding-right:10px;
		font-weight:bold;
		position: relative;
	}
	.l-block04 .l-block04-02 .p-hikudashi p span.Mincho,
	.l-block04 .l-block04-03 .p-hikudashi p span.Mincho {
		font-weight:normal;
		position: relative;
		top: -2px;
		font-size:20px;
	}
	.l-block04 .l-block04-02 .l-message,
	.l-block04 .l-block04-03 .l-message{
		width:100%;
		margin:0 auto;
		display:block;
		text-align:left;
		background-color:#f1f1e7;
		padding:80px 20px 20px;
		position:relative;
		z-index:1;
		margin-top:-81px;
	}
	.l-block04 .l-block04-02 .l-message p,
	.l-block04 .l-block04-03 .l-message p{
		font-size:15px;
		line-height:2;	
		text-align:justify;
	}	
	.l-block04 .l-block04-04{
		max-width: 100%;
		width:100%;
		margin:0 auto;
		text-align:center;
		padding:0px 15px 20px 15px;
		background-color:#FFFFFF;
		position:relative;
		z-index:1;
	}
	.l-block04 .l-block04-04 p{
		text-align:right;
		font-size:12px;
	}
	.l-block04 .p-image2 {
		position: absolute;
		top: 98%;
		left: 0;
		max-width: 1366px;
		width: 100%;
		z-index: 3;
	}
	.l-block04 .p-image2 img {
		max-width: 1366px;
		width: 100%;
	}
	
	.l-block05{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:45px 0 124px;
		background:url(../images/top/bg_block05_pc.png) center top no-repeat transparent;
		background-size:cover;
		position:relative;
	}
	.l-block05:after{
		content:" ";
		background:url(../images/top/img_block05_05_sp.png) center bottom no-repeat transparent;
		position: absolute;
		left:0;
		right:0;
		bottom: 0px;
		width:290px;
		height:103px;
		background-size:290px auto;
		display:inline-block;
		margin:0 auto;
		text-align:center;
	}
	.l-block05 .l-block05-00{
		position:relative;
	}
	.l-block05 .l-block05-00 .p-title{
		width: 100%;
		margin:0 auto;
		text-align:center;
		padding:0;
	}
	.l-block05 .l-block05-00 .p-title img{
		max-width: 208px;
		width:100%;
	}
	.l-block05 .l-block05-00 .p-image{
		width: 100%;
		margin:0 auto;
		text-align:right;
		padding:0;
		position:absolute;
		top:-85%;
		right:0;
	}
	.l-block05 .l-block05-00 .p-image img{
		max-width: 1366px;
		width:100%;
	}
	
	.l-block05 .l-block05-01{
		margin-top:90px;
		position:relative;
		width:100%;
	}
	.l-block05 .l-block05-01 .l-block05-01-back{
		background:url(../images/top/bg_block05_01_pc.png) left top repeat transparent;
		position: absolute;
		top: 0;
		left: 0;
		width:100px;
		height:100px;
	}
	.l-block05 .l-block05-01 > div{
		position:relative;
		width:100%;
	}
	.l-block05 .l-block05-01 .l-block05-01-2-back{
		background:url(../images/top/bg_block05_01_2_sp.png) left top no-repeat transparent;
		position: absolute;
		top: 0;
		left: 0;
		width:100px;
		height:100px;
		background-size:100% auto;
	}
	.l-block05 .l-block05-01 > div .l-message{
		max-width:100%;
		width:100%;
		position:relative;
		top:-43px;
		display:inline-block;
		vertical-align:bottom;
		padding:0 20px 0 10px;
	}
	.l-block05 .l-block05-01 > div .l-message .p-title{
		text-align:left;
		position:relative;
		font-size: 17px;
		line-height: 1.5;
		color:#024987;
		padding-bottom:8px;
	}
	.l-block05 .l-block05-01 > div .l-message .p-title span{
		font-size: 22px;
		font-weight:bold;
	}
	.l-block05 .l-block05-01 > div .l-message .p-message{
		text-align:justify;
		position:relative;
		font-size: 15px;
		line-height: 2;
	}
	.l-block05 .l-block05-01 > div .l-message .p-message > img{
		display:inline;
		text-align:right;
		float:right;
		padding-left:15px;
		padding-top:8px;
		max-width:65px;
		width:100%;
	}
	.l-block05 .l-block05-01 > div .l-image{
		display:none;
	}
	
	.l-block05 .l-block05-02{
		margin-top:85px;
		position:relative;
		width:100%;
	}
	.l-block05 .l-block05-02 .l-block05-02-back{
		background:url(../images/top/bg_block05_02_pc.png) left top repeat transparent;
		position: absolute;
		top: 0;
		right: 0;
		width:100px;
		height:100px;
	}
	.l-block05 .l-block05-02 > div{
		position:relative;
		width:100%;
	}
	.l-block05 .l-block05-02 .l-block05-02-2-back{
		background:url(../images/top/bg_block05_02_2_sp.png) left top no-repeat transparent;
		position: absolute;
		top: 0;
		left: 0;
		width:100px;
		height:100px;
		background-size:100% auto;
	}
	.l-block05 .l-block05-02 > div .l-message{
		max-width:100%;
		width:100%;
		position:relative;
		top:-42px;
		display:inline-block;
		vertical-align:bottom;
		padding:0 10px 0 20px;
	}
	.l-block05 .l-block05-02 > div .l-message .p-title{
		text-align:left;
		position:relative;
		font-size: 17px;
		line-height: 1.5;
		color:#ea6777;
		padding-bottom:10px;
	}
	.l-block05 .l-block05-02 > div .l-message .p-title span{
		font-size: 22px;
		font-weight:bold;
	}
	.l-block05 .l-block05-02 > div .l-message .p-message{
		text-align:justify;
		position:relative;
		font-size: 15px;
		line-height: 2;
	}
	.l-block05 .l-block05-02 > div .l-message .p-message > img{
		display:inline;
		text-align:left;
		float:left;
		padding-right:15px;
		padding-top:8px;
		max-width:65px;
		width:100%;
	}
	.l-block05 .l-block05-02 > div .l-image{
		display:none;
	}
	
	.l-block05 .l-block05-03{
		margin-top:85px;
		position:relative;
		width:100%;
	}
	.l-block05 .l-block05-03 .l-block05-03-back{
		background:url(../images/top/bg_block05_03_pc.png) left top repeat transparent;
		position: absolute;
		top: 0;
		left: 0;
		width:100px;
		height:100px;
	}
	.l-block05 .l-block05-03 > div{
		position:relative;
		width:100%;
	}
	.l-block05 .l-block05-03 .l-block05-03-2-back{
		background:url(../images/top/bg_block05_03_2_sp.png) left top no-repeat transparent;
		position: absolute;
		top: 0;
		left: 0;
		width:100px;
		height:100px;
		background-size:100% auto;
	}
	.l-block05 .l-block05-03 > div .l-message{
		max-width:100%;
		width:100%;
		position:relative;
		top:-42px;
		display:inline-block;
		vertical-align:bottom;
		padding:0 20px 0 10px;
	}
	.l-block05 .l-block05-03 > div .l-message .p-title{
		text-align:left;
		position:relative;
		font-size: 17px;
		line-height: 1.5;
		color:#ea6777;
		padding-bottom:10px;
	}
	.l-block05 .l-block05-03 > div .l-message .p-title span{
		font-size: 22px;
		font-weight:bold;
	}
	.l-block05 .l-block05-03 > div .l-message .p-message{
		text-align:justify;
		position:relative;
		font-size: 15px;
		line-height: 2;
	}
	.l-block05 .l-block05-03 > div .l-message .p-message > img{
		display:inline;
		text-align:right;
		float:right;
		padding-left:15px;
		padding-top:8px;
		max-width:65px;
		width:100%;
	}
	.l-block05 .l-block05-03 > div .l-image{
		display:none;
	}
	
	.l-block05 .l-block05-04{
		width:100%;
		margin:0 auto;
		padding:80px 0 0;
		position:relative;
	}
	.l-block05 .l-block05-04:after{
		content:" ";
		background:url(../images/top/ico_block05_04_pc.png) center bottom no-repeat transparent;
		position: absolute;
		left:0;
		right:0;
		bottom: -40px;
		width:79px;
		height:40px;
		background-size:79px auto;
		display:inline-block;
		margin:0 auto;
		text-align:center;
	}
	.l-block05 .l-block05-04 > .p-message{
		max-width:667px;
		width:100%;
		margin:0 auto;
		padding:30px 35px;
		position:relative;
		font-size: 17px;
		line-height: 2.5;
		z-index: 4;
		background-color:#FFFFFF;
	}
	.l-block05 .l-block05-04 > .p-message:before{
		content:" ";
		background:url(../images/top/img_block05_03_pc.png) left top no-repeat transparent;
		position: absolute;
		top: 30px;
		left: 35px;
		width:33px;
		height:27px;
		background-size:23px auto;
	}
	.l-block05 .l-block05-04 > .p-message:after{
		content:" ";
		background:url(../images/top/img_block05_04_pc.png) left top no-repeat transparent;
		position: absolute;
		bottom: 30px;
		right: 35px;
		width:33px;
		height:27px;
		background-size:23px auto;
	}
	
	.l-block05 .l-block05-04{
		width:100%;
		margin:0 auto;
		padding:38px 20px 0;
		position:relative;
	}
	.l-block05 .l-block05-04:after{
		content:" ";
		background:url(../images/top/ico_block05_04_pc.png) center bottom no-repeat transparent;
		position: absolute;
		left:0;
		right:0;
		bottom: -20px;
		width:40px;
		height:20px;
		background-size:40px auto;
		display:inline-block;
		margin:0 auto;
		text-align:center;
	}
	.l-block05 .l-block05-04 > .p-message{
		max-width:100%;
		width:100%;
		margin:0 auto;
		padding:20px 10px;
		position:relative;
		font-size: 13px;
		line-height: 1.4;
		z-index: 4;
		background-color:#FFFFFF;
	}
	.l-block05 .l-block05-04 > .p-message:before{
		content:" ";
		background:url(../images/top/img_block05_03_sp.png) left top no-repeat transparent;
		position: absolute;
		top: 20px;
		left: 15px;
		width:11px;
		height:9px;
		background-size:11px auto;
	}
	.l-block05 .l-block05-04 > .p-message:after{
		content:" ";
		background:url(../images/top/img_block05_04_sp.png) left top no-repeat transparent;
		position: absolute;
		bottom: 20px;
		right: 15px;
		width:11px;
		height:9px;
		background-size:11px auto;
	}
	
	.l-block06{
		width:100%;
		margin:0 auto;
		padding:25px 0;
		position:relative;
	}
	.l-block06 .l-title{
		width:100%;
		margin:0 auto;
		padding:0 0 18px;
	}
	.l-block06 .l-title h2{
		text-align:center;
	}
	.l-block06 .l-title h2 img{
		max-width:254px;
		width:100%;
	}
	.l-block06 .l-block06-table{
		width:100%;
		margin:0 auto;
		padding:0 0 0;
		display:table;
		overflow: hidden;
	}
	.l-block06 .l-block06-table .l-message{
		display:table-cell;
		width:100%;
		vertical-align:top;
	}
	.l-block06 .l-block06-table .l-message .space {
		display:block;
		float: right;/*画像の位置を右下にしたい場合はright*/
		height: 10em/*画像上の余白の高さ*/
	}
	.l-block06 .l-block06-table .l-message .img {
		display:inline;
		float: right;/*画像の位置を右下にしたい場合はright*/
		clear: both;/*.spaceのfloat解除*/
		margin: 1.2em 1.2em 0 2.5em;/*画像の周りの余白*/
	}
	.l-block06 .l-block06-table .l-message .img img {
		max-width:107px;
		width:100%;
	}
	.l-block06 .l-block06-table .l-message .p-message{
		font-size: 15px;
		line-height: 2.5;
		text-align:left;
	}
	.l-block06 .l-block06-table .l-message .p-message img{
		display:inline-block;
		text-align:left;
		float:right;
		padding-top:0px;
		margin-right:1.2em;
		max-width:99px;
		width:100%;
	}
	.l-block06 .l-block06-table .l-message .p-image{
		display:none;
	}
	.l-block06 .l-block06-table .l-photo{
		display:none;
	}
	
	.l-block07{
		width:100%;
		margin:0 auto;
		padding:12px 0 20px;
		position:relative;
		background-color:#e4f2f3;
	}
	.l-block07 .l-title{
		width:100%;
		margin:0 auto;
		padding:0 15px 15px;
	}
	.l-block07 .l-title h2{
		text-align:center;
	}
	.l-block07 .l-title h2 img{
		max-width:350px;
		width:100%;
	}
	.l-block07 .l-block07-01{
		width:100%;
		margin:0 auto;
		padding:0 10px 20px;
		position:relative;
		z-index:3;
	}
	.l-block07 .l-title2{
		width:100%;
		margin:0 auto;
		padding:15px;
		background-color:#a0e1e5;
		border:1px solid #56999f;
		display:table;
	}
	.l-block07 .l-title2:hover{
		cursor:pointer;
	}
	.l-block07 .l-title2 p{
		display:table-cell;
		vertical-align:middle;
	}
	.l-block07 .l-title2 .p-title2{
		text-align:center;
		line-height:1.5;
		font-size:20px;
		color:#4d4a3b;
	}
	.l-block07 .l-title2 .p-title2 span{
		font-size:12px;
		position:relative;
		top:0;
		padding-left:0;
		font-weight:bold;
		display:block;
	}
	.l-block07 .l-title2 .p-btn{
		text-align:right;
		line-height:0;
	}
	.l-block07 .l-title2 .p-btn img{
		max-width:20px;
		width:100%;
	}
	.l-block07 .l-open{
		width:100%;
		margin:0 auto;
		padding:0 0 0px;
	}
	.l-block07 .l-open .p-title{
		text-align:left;
		line-height:1.5;
		font-size:15px;
		color:#a48e5d;
		padding-top:12px;
		font-weight:bold;
	}
	.l-block07 .l-open .p-message{
		text-align:left;
		line-height:2;
		font-size:15px;
	}
	.l-block07 .l-open .p-message br{
		display:none;
	}
	
	.l-block08{
		width:100%;
		margin:0 auto;
		padding:10px 0 30px;
		position:relative;
	}
	.l-block08 .l-title{
		width:100%;
		margin:0 auto;
		padding:0;
		text-align:center;
	}
	.l-block08 .l-title h2{
		text-align:center;
	}
	.l-block08 .l-title h2 img{
		max-width:375px;
		width:100%;
	}
	.l-block08 .l-block08-01{
		width:100%;
		margin:0 auto;
		padding:0;
		text-align:left;
	}
	.l-block08 .l-block08-01 .p-question{
		width:100%;
		margin:0 auto;
		padding:5px 0 0 2.7em;
		font-size:15px;
		position:relative;
		color:#004a84;
	}
	.l-block08 .l-block08-01 .p-question:before{
		content:" ";
		background:url(../images/top/img_block08_02_sp.png) left top no-repeat transparent;
		position: absolute;
		top: 3px;
		left: 7px;
		width:30px;
		height:30px;
		background-size:30px auto;
	}
	.l-block08 .l-block08-01 .p-answer{
		width:100%;
		margin:0 auto;
		padding:10px 0 20px 3.2em;
		font-size:13px;
		line-height: 2;
		position:relative;
		font-weight:normal;
	}
	.l-block08 .l-block08-01 .p-answer:before{
		content:" ";
		background:url(../images/top/img_block08_03_sp.png) left top no-repeat transparent;
		position: absolute;
		top: 10px;
		left: 7px;
		width:30px;
		height:30px;
		background-size:30px auto;
	}
	
	.l-block09{
		width:100%;
		margin:0 auto;
		padding:35px 0 35px;
		background-color:#1d4a9f;
	}
	.l-block09 > div{
		max-width:100%;
		width:100%;
	}
	.l-block09 .p-title{
		font-size:22px;
		line-height:2;
		color:#FFFFFF;
		padding-bottom:25px;
	}
	.l-block09 .p-title span{
		font-size:16px;
	}
	.l-block09 table{
		width:100%;
		margin:0 auto;
		padding:0 0;
		border-top:1px solid #FFFFFF;
		border-bottom:1px solid #FFFFFF;
	}
	.l-block09 table tr th{
		width:150px;
		text-align:left;
		padding:8px 0 0 15px;
		font-size:15px;
		line-height:2;
		color:#FFFFFF;
		vertical-align:top;
	}
	.l-block09 table tr:first-child th{
		padding-top:20px;
	}
	.l-block09 table tr:last-child th{
		padding-bottom:20px;
	}
	.l-block09 table tr td{
		width:auto;
		text-align:left;
		padding:8px 0em 0 15px;
		font-size:15px;
		line-height:2;
		color:#FFFFFF;
		vertical-align:top;
	}
	.l-block09 table tr:first-child td{
		padding-top:20px;
	}
	.l-block09 table tr:last-child td{
		padding-bottom:20px;
	}
	
	.l-block10 .p-map{
		overflow:hidden;
		height:200px;
		width:100%;
	}
	.l-block10 .p-map iframe{
		width:100%;
		height:200px;
		/*height:560px;
		margin-top:-160px;*/
		/*-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: grayscale(100%);*/
	}
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/
