@charset "utf-8";
/* CSS Document */

/*
カラーコード

オレンジ：#e39b33
グレーライン：#dcdcdc
シャドウ：rgba(58,58,58,.4)
ボタンカラー：#de7928


*/
/*-------------------- ▼共通CSS▼ ------------------------*/
html{
	
}
body{	
	color:#221815;
	font-family: 'Noto Sans JP', sans-serif;
	/*font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
	/*font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
	/*font-family: "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳ Ｐ明朝", "MS PMincho", "serif";*/
	font-size:16px;
	line-height:1.5;
	font-weight:400;
	letter-spacing:0.05em;
	-webkit-text-size-adjust: none;
}

p{
	font-weight:500;
}

.Mincho{
	font-family: 'Noto Serif JP', serif;
}

*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
a{
	color:#000000;
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	text-decoration:none;
}
a:hover{
	-webkit-transition:.3s;
	-moz-transition:.3s;
	transition:.3s;
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity:.7;
}

.border{
	border:1px solid #000000;	
}

header{
	width: 192px;
    float: left;
    position: fixed;
	z-index:10000;
	background-color:#FFFFFF;
	box-shadow:0px 0px 9px 1px #cccccc;
	height: 100%;
}
header .l-header{
	position:absolute;
	top:0;
	left:0;
	/*min-height: 900px;*/
	height: 100%;
	overflow:auto;
}
header .l-headerInner{
	width:100%;
	padding:15px 15px 50px;
	text-align:center;
	color:#221815;
}
header .l-headerInner .p-logo{
	padding-bottom:5px;
	line-height:0;
}
header .l-headerInner .p-logo img{
	max-width:162px;
	width:100%;
}
header .l-headerInner .l-menu{
	width:100%;
	text-align:center;
	padding:0px;
}
header .l-headerInner .l-menu p{
	line-height:1;
	padding-top:12px;
}
header .l-headerInner .l-menu p a{
	color:#221816;
	font-size:13px;
	padding:15px 0px 15px 0px;
	position: relative;
	display:block;
	background:url(../../images/common/btn_header_00_pc.png) left center no-repeat;
}
header .l-headerInner .p-button{
	padding-top:20px;
	line-height:0;
}
header .l-headerInner .p-button img{
	max-width:162px;
	width:100%;
}

.mCSB_inside > .mCSB_container {
    margin-right: 0px;
}
.mCSB_scrollTools {
    opacity: 0;
}
/*メニューにホバーした時の色*/
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #b0b0b0;
	/*background-color: transparent;*/
}
/*スクロール中の色*/
.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
	background-color: #b0b0b0;
}
/*スクロールバー背景色*/
.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #FFFFFF;
}

#wrapper{
	margin: 0 0 0 193px;
	/*letter-spacing:0.1em;*/
	background-color:#FFFFFF;
	height:100%;
	position:relative;
	z-index:1;
}
.l-wrapper{
	/*min-width:823px;*/
	width:100%;
	padding-bottom:0px;
	/*background:url(../../images/common/img_footer_pc.png) left bottom repeat-x;*/
}

footer{
	width:100%;
	margin:0 auto;
	padding:20px 0 35px;
	background-color:#1d4a9f;
}
footer p{
	text-align:center;
	font-size:14px;
	line-height:1.5;
	color:#FFFFFF;
}
footer p a{
	display:inline-block;
	text-align:center;
	font-size:14px;
	line-height:1.5;
	color:#FFFFFF;
	padding:10px 10px 15px;
	text-decoration:underline;
}

/**ページトップ**/
/*#page-top{
	display:none;
}*/

/**ページトップ**/
#page-top{
	/*position: relative;*/
	position: fixed;
	/*top: 1px;*/
	right: 5%;
	bottom: 50px;
	z-index:15000;
	height:50px;
	margin:0 auto;
	text-align:right;
	margin-bottom:10px;
}

#page-top a {
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
	opacity:1;
}
#page-top a:hover{
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
	opacity:.7;
}
#page-top a img {
	opacity:1;
}

.l-inner{
	padding:0 10px;
}
.l-inner880{
	max-width:900px;
	width:100%;
	margin:0 auto;
	padding:0;
	padding:0 10px;
	text-align:center;
}
.l-inner850{
	max-width:870px;
	width:100%;
	margin:0 auto;
	padding:0;
	padding:0 10px;
	text-align:center;
}
.l-inner820{
	max-width:840px;
	width:100%;
	margin:0 auto;
	padding:0;
	padding:0 10px;
	text-align:center;
}
.l-inner800{
	max-width:820px;
	width:100%;
	margin:0 auto;
	padding:0;
	padding:0 10px;
	text-align:center;
}
.l-inner754{
	max-width:774px;
	width:100%;
	margin:0 auto;
	padding:0;
	padding:0 10px;
	text-align:center;
}
.l-inner530{
	max-width:550px;
	width:100%;
	margin:0 auto;
	padding:0;
	padding:0 10px;
	text-align:center;
}
.l-inner505{
	max-width:525px;
	width:100%;
	margin:0 auto;
	padding:0;
	padding:0 10px;
	text-align:center;
}

.pconly{
	display:block !important;
}

.sponly0{
	display:none !important;
}

.sponly{
	display:none !important;	
}

.sponly1{
	display:block !important;
}

.sponly1_5{
	display:none !important;
}

.sponly2{
	display:none !important;
}

.pb20{
	padding-bottom:20px;	
}

.w100{
	width:100%;	
}

.disnone{
	display:none !important;
}

.p-link{
	text-decoration:underline;	
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1000px){	
	
	header{
		width: 100%;
		float: none;
		position: fixed;
		z-index:10000;
		background-color:#FFFFFF;
		box-shadow:0px 0px 6px 1px #cccccc;
		height: 98px;
	}
	header .l-header{
		position:static;
		top:0;
		left:0;
		min-height: 100%;
		height: auto;
		overflow:auto;
	}
	header .l-headerInner{
		width:100%;
		padding:0px 15px 0px;
		text-align:center;
		color:#221815;
		display:table;
	}
	header .l-headerInner .p-logo{
		padding-top:10px;
		padding-bottom:0px;
		line-height:0;
		display:table-cell;
		text-align:left;
		width:auto;
		vertical-align:top;
	}
	header .l-headerInner .p-logo a{
		display:inline-block;
		line-height:0;
	}
	header .l-headerInner .p-logo img{
		max-width:113px;
		width:100%;
	}
	header .l-headerInner .l-menu{
		display:none;
	}
	header .l-headerInner .p-button{
		display:none;
	}
	
	.l-header-right {
		display: table-cell;
		width: auto;
		height: auto;
		padding-left: 0px;
		text-align: right;
		vertical-align: top;
		position: relative;
		line-height:0;
	}
	.l-header-right div.p-contact {
		display: none;
	}
	
	.l-header nav{
		display:block;	
	}

	#toggle {
		float:right;
		display: table;
		padding: 0px 0;
		cursor: pointer;
		height: 98px;
		width: 98px;
		background-color:#d84c8e;
	}
	#toggle.show {
		background-color:#d84c8e;
	}
	#toggle-btn {
		float: none;
		display: table-cell;
		vertical-align: middle;
		text-align:center;
		position:relative;
		top:-11px;
	}
	#toggle-btn-icon {
		display: block;
		position: absolute;
		top: 0;
		left: 0px;
		right:0;
		bottom:0;
		width: 50px;
		height: 3px;
		margin: auto;
		background: #FFFFFF;
		transition: .2s;
	}
	#toggle-btn p{
		color: #FFFFFF;
    	padding-top: 70px;
		font-size:15px;
	}
	#toggle-btn-icon:before, #toggle-btn-icon:after {
		display: block;
		content: "";
		position: absolute;
		top: 0px;
		right: 0;
		width: 50px;
		height: 3px;
		background: #FFFFFF;
		transition: .3s;
	}
	#toggle-btn-icon:before {
		margin-top: -15px;
	}
	#toggle-btn-icon:after {
		margin-top: 15px;
	}
	#toggle.show #toggle-btn p {
		color:#FFFFFF;
	}
	#toggle-btn .close:before, #toggle-btn .close:after {
		margin-top: 0;
	}
	#toggle-btn .close {
		background: transparent;
	}
	#toggle-btn .close:before {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		background: #FFFFFF;
	}
	#toggle-btn .close:after {
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
		background: #FFFFFF;
	}
	
	/* --- nav ---*/
	#global-nav-area {
		display:none;
		max-width: 1200px;
		width: 100%;
		margin:0 auto;
		position: absolute;
		z-index:10001;
		right:0;		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		text-align:left;
		overflow:auto !important;
		-webkit-overflow-scrolling: touch;
		background-color:#FFFFFF;
	}
	#global-nav {
		padding:0 0;
		overflow:auto;
	}	
	#global-nav > li {
		text-align:left;
	}
	#global-nav > li:first-child {
		padding-top:0px;
	}
	#global-nav > li.p-last {
		padding-bottom:42px;
	}
	#global-nav > li > p {
		width:100%;
		text-align:left;
		display:block;
		padding:0 0px;
	}
	#global-nav > li > p a {
		text-align:center;
		display:block;
		padding:35px 15px;
		border-top:2px dotted #1d499e;
		position:relative;
		text-decoration:none;
		font-size:24px;
		font-weight:normal !important;
		line-height:1;
	}
	#global-nav > li.p-last > p a {
		border-bottom:2px dotted #1d499e;
	}
	
	#wrapper{
		margin: 0 0 0 0;
		/*letter-spacing:0.1em;*/
		background-color:#FFFFFF;
		height:auto;
		position:relative;
		z-index:1;
	}
	
	/**ページトップ**/
	#page-top{
		display:block;
		width:100%;
		position: relative;
		top: 33px;
		right:0;
		bottom:0;
		z-index:15000;
		margin:0 auto;
		text-align:center;
		line-height:0;
	}
	
	#page-top a {
		display:inline-block;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-o-transition: 0.5s;
		-ms-transition: 0.5s;
		transition: 0.5s;
		opacity:1;
	}
	#page-top a:hover{
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-o-transition: 0.5s;
		-ms-transition: 0.5s;
		transition: 0.5s;
		opacity:.7;
	}
	#page-top a img {
		width:66px;
		opacity:1;
	}
	
	footer{
		width:100%;
		margin:0 auto;
		padding:60px 0 50px;
		background-color:#1d4a9f;
	}
	footer p{
		text-align:center;
		font-size:15px;
		line-height:1.5;
		color:#FFFFFF;
	}
	footer p a{
		display:inline-block;
		text-align:center;
		font-size:18px;
		line-height:1.5;
		color:#FFFFFF;
		padding:10px 10px 15px;
		text-decoration:underline;
		margin-bottom:20px;
	}
	
	.l-inner{
		padding:0 20px;
	}
	.l-inner880{
		padding:0 20px;
	}
	.l-inner850{
		padding:0 20px;
	}
	.l-inner820{
		padding:0 20px;
	}
	.l-inner800{
		padding:0 20px;
	}
	.l-inner754{
		padding:0 20px;
	}
	.l-inner530{
		padding:0 20px;
	}
	.l-inner505{
		padding:0 20px;
	}
	.pconly{
		display:none !important;
	}
	
	.sponly0{
		display:block !important;
	}
	
	.sponly{
		display:block !important;
	}
	
	.sponly1{
		display:block !important;
	}
	
	.sponly1_5{
		display:none !important;
	}
	
	.sponly2{
		display:none !important;
	}
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:768px){

	.l-inner{
		padding:0 15px;
	}
	.l-inner880{
		padding:0 15px;
	}
	.l-inner850{
		padding:0 15px;
	}
	.l-inner820{
		padding:0 15px;
	}
	.l-inner800{
		padding:0 15px;
	}
	.l-inner754{
		padding:0 15px;
	}
	.l-inner530{
		padding:0 15px;
	}
	.l-inner505{
		padding:0 15px;
	}
	
	.l-globalMenu{
		display:none;
	}
	
	.pconly{
		display:none !important;
	}
	
	.sponly0{
		display:block !important;
	}
	
	.sponly{
		display:none !important;
	}
	
	.sponly1{
		display:none !important;
	}
	
	.sponly1_5{
		display:block !important;
	}
	
	.sponly2{
		display:none !important;
	}
	
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	header{
		width: 100%;
		float: none;
		position: fixed;
		z-index:10000;
		background-color:#FFFFFF;
		box-shadow:0px 0px 5px 1px #cccccc;
		height: 70px;
	}
	header .l-header{
		position:static;
		top:0;
		left:0;
		min-height: 100%;
		height: auto;
		overflow:auto;
	}
	header .l-headerInner{
		width:100%;
		padding:0px 10px 0px;
		text-align:center;
		color:#221815;
		display:table;
	}
	header .l-headerInner .p-logo{
		padding-top:7px;
		padding-bottom:0px;
		line-height:0;
		display:table-cell;
		text-align:left;
		width:auto;
		vertical-align:top;
	}
	header .l-headerInner .p-logo a{
		display:inline-block;
		line-height:0;
	}
	header .l-headerInner .p-logo img{
		max-width:81px;
		width:100%;
	}
	header .l-headerInner .l-menu{
		display:none;
	}
	header .l-headerInner .p-button{
		display:none;
	}
	
	.l-header-right {
		display: table-cell;
		width: auto;
		height: auto;
		padding-left: 0px;
		text-align: right;
		vertical-align: top;
		position: relative;
		line-height:0;
	}
	.l-header-right div.p-contact {
		display: none;
	}
	
	.l-header nav{
		display:block;	
	}
	
	#toggle {
		float:right;
		display: table;
		padding: 0px 0;
		cursor: pointer;
		height: 70px;
		width: 70px;
		background-color:#d84c8e;
	}
	#toggle.show {
		background-color:#d84c8e;
	}
	#toggle-btn {
		float: none;
		display: table-cell;
		vertical-align: middle;
		text-align:center;
		position:relative;
		top:-10px;
	}
	#toggle-btn-icon {
		display: block;
		position: absolute;
		top: 0;
		left: 0px;
		right:0;
		bottom:0;
		width: 35px;
		height: 2px;
		margin: auto;
		background: #FFFFFF;
		transition: .2s;
	}
	#toggle-btn p{
		color: #FFFFFF;
    	padding-top: 50px;
		font-size:10px;
	}
	#toggle-btn-icon:before, #toggle-btn-icon:after {
		display: block;
		content: "";
		position: absolute;
		top: 0px;
		right: 0;
		width: 35px;
		height: 2px;
		background: #FFFFFF;
		transition: .3s;
	}
	#toggle-btn-icon:before {
		margin-top: -10px;
	}
	#toggle-btn-icon:after {
		margin-top: 10px;
	}
	#toggle.show #toggle-btn p {
		color:#FFFFFF;
	}
	#toggle-btn .close:before, #toggle-btn .close:after {
		margin-top: 0;
	}
	#toggle-btn .close {
		background: transparent;
	}
	#toggle-btn .close:before {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		background: #FFFFFF;
	}
	#toggle-btn .close:after {
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
		background: #FFFFFF;
	}
	
	/* --- nav ---*/
	#global-nav-area {
		display:none;
		max-width: 1200px;
		width: 100%;
		margin:0 auto;
		position: absolute;
		z-index:10001;
		right:0;		
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		text-align:left;
		overflow:auto !important;
		-webkit-overflow-scrolling: touch;
		background-color:#FFFFFF;
	}
	#global-nav {
		padding:0 0;
		overflow:auto;
	}	
	#global-nav > li {
		text-align:left;
	}
	#global-nav > li:first-child {
		padding-top:0px;
	}
	#global-nav > li.p-last {
		padding-bottom:30px;
	}
	#global-nav > li > p {
		width:100%;
		text-align:left;
		display:block;
		padding:0 0px;
	}
	#global-nav > li > p a {
		text-align:center;
		display:block;
		padding:25px 10px;
		border-top:2px dotted #1d499e;
		position:relative;
		text-decoration:none;
		font-size:17px;
		font-weight:normal !important;
		line-height:1;
	}
	#global-nav > li.p-last > p a {
		border-bottom:2px dotted #1d499e;
	}
	
	/**ページトップ**/
	#page-top{
		width:100%;
		position: relative;
		top: 20px;
		z-index:15000;
		margin:0 auto;
		text-align:center;
		line-height:0;
	}
	
	#page-top a {
		display:inline-block;
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-o-transition: 0.5s;
		-ms-transition: 0.5s;
		transition: 0.5s;
		opacity:1;
	}
	#page-top a:hover{
		-webkit-transition: 0.5s;
		-moz-transition: 0.5s;
		-o-transition: 0.5s;
		-ms-transition: 0.5s;
		transition: 0.5s;
		opacity:.7;
	}
	#page-top a img {
		width:40px;
		opacity:1;
	}
	
	footer{
		width:100%;
		margin:0 auto;
		padding:40px 0 35px;
		background-color:#1d4a9f;
	}
	footer p{
		text-align:center;
		font-size:12px;
		line-height:1.5;
		color:#FFFFFF;
	}
	footer p a{
		display:inline-block;
		text-align:center;
		font-size:13px;
		line-height:1.5;
		color:#FFFFFF;
		padding:10px 10px 15px;
		text-decoration:underline;
		margin-bottom:10px;
	}
	
	.l-inner{
		padding:0 10px;
	}
	.l-inner880{
		padding:0 10px;
	}
	.l-inner850{
		padding:0 10px;
	}
	.l-inner820{
		padding:0 10px;
	}
	.l-inner800{
		padding:0 10px;
	}
	.l-inner754{
		padding:0 10px;
	}
	.l-inner530{
		padding:0 10px;
	}
	.l-inner505{
		padding:0 10px;
	}
	
	.pconly{
		display:none !important;
	}
	
	.sponly0{
		display:block !important;
	}
	
	.sponly{
		display:none !important;
	}
	
	.sponly1{
		display:none !important;
	}
	
	.sponly1_5{
		display:block !important;
	}
	
	.sponly2{
		display:block !important;
	}
	
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/



