@charset "utf-8";
/* CSS Document */

.l-contactBlock01{
	width:100%;
	margin:0 auto;
	padding:120px 0 0;
	text-align:center;
}
.l-contactBlock01 .p-title{
	font-size:42px;
	padding-bottom:0px;
	position: relative;
    display: inline;
    background: linear-gradient(transparent 65%, #fde801 0%);
    line-height: 1.5;
	padding:0 10px;
}
.l-contactBlock01 .p-message{
	font-size:18px;
    line-height: 1.5;
	padding:50px 0 0;
}
.l-contactBlock01 .p-caution{
	font-size:16px;
    line-height: 1.5;
	/*font-weight:bold;*/
	padding:80px 0 0;
}
.contact .l-contactBlock01 .p-caution br,
.confirm .l-contactBlock01 .p-caution br{
	display:none;
}

.l-contactBlock02{
	width:100%;
	margin:0 auto;
	padding:0 0 0;
}
.l-contactBlock02 table{
	width:100%;
}
.l-contactBlock02 table tr th{
	width:230px;
	font-size:18px;
	font-weight:bold;
	text-align:left;
	padding-top:40px;
	vertical-align:middle;
}
.l-contactBlock02 table tr th.p-toiawase {
	padding-top:50px;
	vertical-align:top;
}
.l-contactBlock02 table tr th p{
	font-size:16px;
	display:inline-block;
	font-weight:normal;
	padding-top:15px;
}
.l-contactBlock02 table tr th p span{
	width:2em;
	display:inline-block;
}
.l-contactBlock02 table tr th p span.p-space{
	display:inline-block;
}
.l-contactBlock02 table tr th span.p-caution{
	font-size:18px;
	display:inline;
	font-weight:normal;
	color:#fe3b01;
	padding-left:10px;
}
.l-contactBlock02 table tr td{
	width:auto;
	font-size:18px;
	text-align:left;
	padding-top:40px;
	font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	vertical-align:middle;
	position:relative;
	word-wrap : break-word;
	overflow-wrap : break-word;
}
.l-contactBlock02 table tr td p{
	width:50%;
	display:inline-block;
}
.l-contactBlock02 table tr td label{
	position:absolute;
	bottom:-2em;
	left:0;
	color:#fe3b01;
	font-size:14px;
}
.l-contactBlock02 table tr td > span{
	font-weight:bold;
	padding:0 0 0 2%;
}
.l-contactBlock02 table tr td p span{
	display:inline-block;
	font-weight:bold;
	padding:0 0 0 0;
	width:50px;
}
.l-contactBlock02 table tr td p:last-child span{
	/*font-weight:bold;
	padding-right:0;*/
}
.l-contactBlock02 table tr td input[type="text"] {
	border:1px solid #1f499f;
	padding:15px;
	font-size:18px;
	font-family: 'Noto Sans JP', sans-serif;
}
.l-contactBlock02 table tr td input[type="text"].p-type01 {
	width:calc(100% - 60px);
}
.l-contactBlock02 table tr td input[type="text"].p-type02 {
	max-width:85px;
	width:100%;
	text-align:right;
}
.l-contactBlock02 table tr td input[type="text"].p-type03 {
	width:100%;
}
.l-contactBlock02 table tr td textarea {
	width:100%;
	border:1px solid #1f499f;
	padding:15px;
	font-size:18px;
	font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.l-contactBlock02 .p-submit{
	width:100%;
	margin:0 auto;
	padding:90px 0 135px;
}
.l-contactBlock02 .p-submit input[type="submit"] {
    border: 0px;
    width: 280px;
    height: 76px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
	color:#FFFFFF;
	text-align:center;
	background-color:#d84b8d;
	font-size:22px;
	/*font-weight:bold;*/
	padding:0;
}
.l-contactBlock02 .p-submit input[type="submit"]:hover {
    cursor:pointer;
	opacity:0.7;
}
.l-contactBlock02 .p-submit a.p-back {
	display:inline-block;
    border: 0px;
    width: 196px;
    height: 53px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
	color:#FFFFFF;
	text-align:center;
	background-color:#bcbcbc;
	font-size:16px;
	/*font-weight:bold;*/
	padding:0;
	padding-top:13px;
	margin-right:30px;
}
.l-contactBlock02 .p-submit a.p-back:hover {
    cursor:pointer;
	opacity:0.7;
}
.l-contactBlock02 .p-submit a.p-top {
	display:inline-block;
    border: 0px;
    width: 280px;
    height: 76px;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
	color:#FFFFFF;
	text-align:center;
	background-color:#d84b8d;
	font-size:22px;
	/*font-weight:bold;*/
	padding:0;
	padding-top:20px;
}
.l-contactBlock02 .p-submit a.p-top:hover {
    cursor:pointer;
	opacity:0.7;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1000px){	
	
	.l-contactBlock01{
		width:100%;
		margin:0 auto;
		padding:98px 0 0;
		text-align:center;
	}
	.l-contactBlock01 .l-contactBlock01-01{
		padding:63px 0 0;
	}
	.l-contactBlock01 .p-title{
		font-size:34px;
		position: relative;
		display: inline;
		background: linear-gradient(transparent 65%, #fde801 0%);
		line-height: 1.5;
		padding:0 10px;
	}
	.l-contactBlock01 .p-message{
		font-size:21px;
		line-height: 1.5;
		padding:42px 0 0;
	}
	.l-contactBlock01 .p-caution{
		font-size:21px;
		line-height: 1.7;
		/*font-weight:bold;*/
		padding:35px 0 0;
	}
	.contact .l-contactBlock01 .p-caution br,
	.confirm .l-contactBlock01 .p-caution br{
		display:block;
	}
	
	.l-contactBlock02{
		width:100%;
		margin:0 auto;
		padding:0 1em 0;
	}
	.l-contactBlock02 table{
		width:100%;
		display:block;
	}
	.l-contactBlock02 table tbody{
		width:100%;
		display:block;
	}
	.l-contactBlock02 table tbody tr{
		width:100%;
		display:block;
	}
	.l-contactBlock02 table tr th{
		width:100%;
		display:block;
		font-size:22px;
		font-weight:bold;
		text-align:left;
		padding-top:28px;
		vertical-align:middle;
	}
	.l-contactBlock02 table tr th.p-toiawase {
		padding-top:50px;
		vertical-align:top;
	}
	.l-contactBlock02 table tr th span{
		font-size:16px;
		display:inline-block;
		font-weight:normal;
		padding-top:15px;
	}
	.l-contactBlock02 table tr th p span{
		width:1em;
		display:inline-block;
	}
	.l-contactBlock02 table tr th p span.p-space{
		display:none;
	}
	.l-contactBlock02 table tr th span.p-caution{
		font-size:22px;
		display:inline;
		font-weight:normal;
		color:#fe3b01;
		padding-left:10px;
	}
	.l-contactBlock02 table tr td{
		width:100%;
		display:block;
		font-size:21px;
		text-align:left;
		padding-top:15px;
		font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
		vertical-align:middle;
		position:relative;
	}
	.l-contactBlock02 table tr td p{
		width:100%;
		display:block;
		padding-bottom:10px;
	}
	.l-contactBlock02 table tr td p:first-child{
		padding-bottom:30px;
	}
	.confirm .l-contactBlock02 table tr td p:first-child{
		padding-bottom:0px;
	}
	.l-contactBlock02 table tr td label{
		position:absolute;
		bottom:0;
		top: 105%;
		left:0;
		color:#fe3b01;
		font-size:14px;
	}
	.l-contactBlock02 table tr td > span{
		font-weight:bold;
		padding:0 0 0 2%;
	}
	.l-contactBlock02 table tr td p span{
		display:inline-block;
		font-weight:bold;
		padding:0 0 0 0;
		width:50px;
	}
	.l-contactBlock02 table tr td p:last-child span{
		/*font-weight:bold;
		padding-right:0;*/
	}
	.l-contactBlock02 table tr td input[type="text"] {
		border:1px solid #1f499f;
		padding:15px;
		font-size:21px;
	}
	.l-contactBlock02 table tr td input[type="text"].p-type01 {
		width:calc(100% - 50px);
	}
	.l-contactBlock02 table tr td input[type="text"].p-type02 {
		max-width:126px;
		width:100%;
		text-align:right;
	}
	.l-contactBlock02 table tr td input[type="text"].p-type03 {
		width:100%;
	}
	.l-contactBlock02 table tr td textarea {
		width:100%;
		border:1px solid #1f499f;
		padding:15px;
		font-size:18px;
		font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	}
	.l-contactBlock02 .p-submit{
		width:100%;
		margin:0 auto;
		padding:84px 0 98px;
	}
	.l-contactBlock02 .p-submit input[type="submit"] {
		border: 0px;
		width: 280px;
		height: 76px;
		-webkit-transition: .3s;
		-moz-transition: .3s;
		transition: .3s;
		color:#FFFFFF;
		text-align:center;
		background-color:#d84b8d;
		font-size:22px;
		/*font-weight:bold;*/
		padding:0;
	}
	.l-contactBlock02 .p-submit input[type="submit"]:hover {
		cursor:pointer;
		opacity:0.7;
	}
	.l-contactBlock02 .p-submit a.p-back {
		display:inline-block;
		border: 0px;
		width: 196px;
		height: 53px;
		-webkit-transition: .3s;
		-moz-transition: .3s;
		transition: .3s;
		color:#FFFFFF;
		text-align:center;
		background-color:#bcbcbc;
		font-size:16px;
		/*font-weight:bold;*/
		padding:0;
		padding-top:13px;
		margin-right:30px;
	}
	.l-contactBlock02 .p-submit a.p-back:hover {
		cursor:pointer;
		opacity:0.7;
	}
	.l-contactBlock02 .p-submit a.p-top {
		display:inline-block;
		border: 0px;
		width: 280px;
		height: 76px;
		-webkit-transition: .3s;
		-moz-transition: .3s;
		transition: .3s;
		color:#FFFFFF;
		text-align:center;
		background-color:#d84b8d;
		font-size:22px;
		/*font-weight:bold;*/
		padding:0;
		padding-top:20px;
	}
	.l-contactBlock02 .p-submit a.p-top:hover {
		cursor:pointer;
		opacity:0.7;
	}
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:768px){

	
	.l-contactBlock02 .p-submit a.p-back {
		display:block;
		border: 0px;
		width: 196px;
		height: 53px;
		-webkit-transition: .3s;
		-moz-transition: .3s;
		transition: .3s;
		color:#FFFFFF;
		text-align:center;
		background-color:#bcbcbc;
		font-size:16px;
		/*font-weight:bold;*/
		padding:0;
		padding-top:10px;
		margin:0 auto 20px;
	}
	
	
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	.l-contactBlock01{
		width:100%;
		margin:0 auto;
		padding:70px 0 0;
		text-align:center;
	}
	.l-contactBlock01 .l-contactBlock01-01{
		padding:45px 0 0;
	}
	.l-contactBlock01 .p-title{
		font-size:24px;
		position: relative;
		display: inline;
		background: linear-gradient(transparent 65%, #fde801 0%);
		line-height: 1.5;
		padding:0 10px;
	}
	.l-contactBlock01 .p-message{
		font-size:15px;
		line-height: 1.5;
		padding:30px 0 0;
	}
	.l-contactBlock01 .p-caution{
		font-size:15px;
		line-height: 1.7;
		/*font-weight:bold;*/
		padding:25px 0 0;
	}
	.contact .l-contactBlock01 .p-caution br,
	.confirm .l-contactBlock01 .p-caution br{
		display:none;
	}
	
	.l-contactBlock02{
		width:100%;
		margin:0 auto;
		padding:0 1em 0;
	}
	.l-contactBlock02 table{
		width:100%;
		display:block;
	}
	.l-contactBlock02 table tbody{
		width:100%;
		display:block;
	}
	.l-contactBlock02 table tbody tr{
		width:100%;
		display:block;
	}
	.l-contactBlock02 table tr th{
		width:100%;
		display:block;
		font-size:16px;
		font-weight:bold;
		text-align:left;
		padding-top:45px;
		vertical-align:middle;
	}
	.l-contactBlock02 table tr th.p-toiawase {
		padding-top:45px;
		vertical-align:top;
	}
	.l-contactBlock02 table tr th span{
		font-size:14px;
		display:inline-block;
		font-weight:normal;
		padding-top:10px;
	}
	.l-contactBlock02 table tr th p span{
		width:1em;
		display:inline-block;
	}
	.l-contactBlock02 table tr th p span.p-space{
		display:none;
	}
	.l-contactBlock02 table tr th span.p-caution{
		font-size:16px;
		display:inline;
		font-weight:normal;
		color:#fe3b01;
		padding-left:5px;
	}
	.l-contactBlock02 table tr td{
		width:100%;
		display:block;
		font-size:16px;
		text-align:left;
		padding-top:10px;
		font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
		vertical-align:middle;
		position:relative;
	}
	.l-contactBlock02 table tr td p{
		width:100%;
		display:block;
		padding-bottom:5px;
	}
	.l-contactBlock02 table tr td p:first-child{
		padding-bottom:20px;
	}
	.confirm .l-contactBlock02 table tr td p:first-child{
		padding-bottom:0px;
	}
	.l-contactBlock02 table tr td label{
		position:absolute;
		bottom:0;
		top: 105%;
		left:0;
		color:#fe3b01;
		font-size:12px;
	}
	.l-contactBlock02 table tr td > span{
		font-weight:bold;
		padding:0 0 0 2%;
	}
	.l-contactBlock02 table tr td p span{
		display:inline-block;
		font-weight:bold;
		padding:0 0 0 0;
		width:50px;
	}
	.l-contactBlock02 table tr td p:last-child span{
		/*font-weight:bold;
		padding-right:0;*/
	}
	.l-contactBlock02 table tr td input[type="text"] {
		border:1px solid #1f499f;
		padding:10px;
		font-size:16px;
	}
	.l-contactBlock02 table tr td input[type="text"].p-type01 {
		width:calc(100% - 50px);
	}
	.l-contactBlock02 table tr td input[type="text"].p-type02 {
		max-width:90px;
		width:100%;
		text-align:right;
	}
	.l-contactBlock02 table tr td input[type="text"].p-type03 {
		width:100%;
	}
	.l-contactBlock02 table tr td textarea {
		width:100%;
		border:1px solid #1f499f;
		padding:10px;
		font-size:16px;
		font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	}
	.l-contactBlock02 .p-submit{
		width:100%;
		margin:0 auto;
		padding:60px 0 70px;
	}
	.l-contactBlock02 .p-submit input[type="submit"] {
		border: 0px;
		width: 100%;
		height: 55px;
		-webkit-transition: .3s;
		-moz-transition: .3s;
		transition: .3s;
		color:#FFFFFF;
		text-align:center;
		background-color:#d84b8d;
		font-size:16px;
		/*font-weight:bold;*/
		padding:0;
	}
	.l-contactBlock02 .p-submit input[type="submit"]:hover {
		cursor:pointer;
		opacity:0.7;
	}
	.l-contactBlock02 .p-submit a.p-back {
		display:block;
		border: 0px;
		width: 196px;
		height: 53px;
		-webkit-transition: .3s;
		-moz-transition: .3s;
		transition: .3s;
		color:#FFFFFF;
		text-align:center;
		background-color:#bcbcbc;
		font-size:16px;
		/*font-weight:bold;*/
		padding:0;
		padding-top:12px;
		margin:0 auto 20px;
	}
	.l-contactBlock02 .p-submit a.p-back:hover {
		cursor:pointer;
		opacity:0.7;
	}
	.l-contactBlock02 .p-submit a.p-top {
		display:inline-block;
		border: 0px;
		width: 100%;
		height: 55px;
		-webkit-transition: .3s;
		-moz-transition: .3s;
		transition: .3s;
		color:#FFFFFF;
		text-align:center;
		background-color:#d84b8d;
		font-size:16px;
		/*font-weight:bold;*/
		padding:0;
		padding-top:15px;
	}
	.l-contactBlock02 .p-submit a.p-top:hover {
		cursor:pointer;
		opacity:0.7;
	}	
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/
