@charset "utf-8";
/* CSS Document */

body {
    background-color:#f9f9f9;
}

.l-infoBlock01{
	width:100%;
	margin:0 auto;
	padding:135px 0 0;
	text-align:center;
}
.l-infoBlock01 .p-title{
	font-size:40px;
	padding-bottom:100px;
	line-height:1;
	letter-spacing:0.12em;
}

.l-infoBlock02{
	width:100%;
	margin:0 auto;
	padding:0px 0 0;
	text-align:center;
}
.l-infoBlock02 .p-message{
	padding:0px 0px 70px;
	text-align:left;
	font-size:18px;
	line-height:2;
	letter-spacing:0.05em;
}
.l-infoBlock02 .p-message2{

	
}
.l-infoBlock02 .p-message2 ol {
	list-style-type: decimal;
}
.l-infoBlock02 .p-message2 li {
	list-style-type: decimal;
	padding:0px 0px 30px;
	text-align:left;
	font-size:18px;
	line-height:2;
	letter-spacing:0.05em;
}
.l-infoBlock02 .p-message2 li:last-child {
	padding:0px 0px 130px;
}
.l-infoBlock02 .p-message2 li span {
	font-weight:bold;
	display:block;
}
.l-infoBlock02 .p-btn{
	padding:0px 0px 135px;
	line-height:0;
}
.l-infoBlock02 .p-btn img{
	max-width:120px;
	width:100%;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1000px){	
	
	.l-infoBlock01{
		width:100%;
		margin:0 auto;
		padding:98px 0 0;
		text-align:center;
	}
	.l-infoBlock01 .p-title{
		font-size:34px;
		padding-top:63px;
		padding-bottom:63px;
		line-height:1;
		letter-spacing:0.12em;
	}
	
	.l-infoBlock02{
		width:100%;
		margin:0 auto;
		padding:0px 0 0 1em;
		text-align:center;
	}
	.l-infoBlock02 .p-message{
		padding:0px 0px 50px;
		text-align:left;
		font-size:21px;
		line-height:2;
		letter-spacing:0.075em;
	}
	.l-infoBlock02 .p-message2{
	
		
	}
	.l-infoBlock02 .p-message2 ol {
		list-style-type: decimal;
	}
	.l-infoBlock02 .p-message2 li {
		list-style-type: decimal;
		padding:0px 0px 20px;
		text-align:left;
		font-size:21px;
		line-height:2;
		letter-spacing:0.05em;
	}
	.l-infoBlock02 .p-message2 li:last-child {
		padding:0px 0px 84px;
	}
	.l-infoBlock02 .p-message2 li span {
		font-weight:bold;
		display:block;
	}
	.l-infoBlock02 .p-btn{
		padding:0px 0px 70px;
		line-height:0;
	}
	.l-infoBlock02 .p-btn img{
		max-width:168px;
		width:100%;
	}
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:768px){

	
	
	
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	.l-infoBlock01{
		width:100%;
		margin:0 auto;
		padding:70px 0 0;
		text-align:center;
	}
	.l-infoBlock01 .p-title{
		font-size:24px;
		padding-top:45px;
		padding-bottom:45px;
		line-height:1;
		letter-spacing:0.12em;
	}
	
	.l-infoBlock02{
		width:100%;
		margin:0 auto;
		padding:0px 0 0 0;
		text-align:center;
	}
	.l-infoBlock02 .p-message{
		padding:0px 0px 35px;
		text-align:left;
		font-size:15px;
		line-height:2;
		letter-spacing:0.075em;
	}
	.l-infoBlock02 .p-message2{	
		padding:0px 0 0 1.5em;
	}
	.l-infoBlock02 .p-message2 ol {
		list-style-type: decimal;
	}
	.l-infoBlock02 .p-message2 li {
		list-style-type: decimal;
		padding:0px 0px 15px;
		text-align:left;
		font-size:15px;
		line-height:2;
		letter-spacing:0.05em;
	}
	.l-infoBlock02 .p-message2 li:last-child {
		padding:0px 0px 60px;
	}
	.l-infoBlock02 .p-message2 li span {
		font-weight:bold;
		display:block;
	}
	.l-infoBlock02 .p-btn{
		padding:0px 0px 50px;
		line-height:0;
	}
	.l-infoBlock02 .p-btn img{
		max-width:120px;
		width:100%;
	}
	
	
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/
