@charset "utf-8";
/* CSS Document */

body {
    background-color:#f9f9f9;
}

.l-infoBlock01{
	width:100%;
	margin:0 auto;
	padding:120px 0 0;
	text-align:center;
	color:#1c4a9f;
}
.l-infoBlock01 .p-title{
	font-size:36px;
	padding-bottom:90px;
	line-height:1;
	letter-spacing:0.1em;
}

.l-infoBlock02{
	width:100%;
	margin:0 auto;
	padding:0px 0 0;
	text-align:center;
}
.l-infoBlock02 .p-title{
	font-size:26px;
	line-height:2;
	padding:0px 0 30px;
	background:url(../../images/info/bg_infoblock02_pc.png) left bottom no-repeat;
}
.l-infoBlock02 .p-image{
	padding:50px 50px 40px;
	line-height:0;
}
.l-infoBlock02 .p-image img{
	max-width:750px;
	width:100%;
}
.l-infoBlock02 .p-message{
	padding:0px 50px 60px;
	text-align:justify;
	font-size:15px;
	line-height:2;
}
.l-infoBlock02 .p-btn{
	padding:0px 0px 135px;
	line-height:0;
}
.l-infoBlock02 .p-btn img{
	max-width:120px;
	width:100%;
}

/*-------------------- ▲共通CSS▲ ------------------------*/

/*---------------- ▼PCのみCSS▼ --------------------*/
@media screen and (max-width:1000px){	
	
	.l-infoBlock01{
		width:100%;
		margin:0 auto;
		padding:98px 0 0;
		text-align:center;
		color:#1c4a9f;
	}
	.l-infoBlock01 .p-title{
		font-size:34px;
		padding-top:63px;
		padding-bottom:50px;
		line-height:1;
	}	

	.l-infoBlock02{
		width:100%;
		margin:0 auto;
		padding:0px 0 0;
		text-align:center;
	}
	.l-infoBlock02 .p-title{
		font-size:21px;
		line-height:2;
		padding:0px 0 42px;
		background:url(../../images/info/bg_infoblock02_pc.png) left bottom no-repeat;
	}
	.l-infoBlock02 .p-image{
		padding:28px 0px 52px;
	}
	.l-infoBlock02 .p-image img{
		max-width:1000px;
		width:100%;
	}
	.l-infoBlock02 .p-message{
		padding:0px 25px 63px;
		text-align:justify;
		font-size:21px;
		line-height:2;
	}
	.l-infoBlock02 .p-btn{
		padding:0px 0px 70px;
		line-height:0;
	}
	.l-infoBlock02 .p-btn img{
		max-width:168px;
		width:100%;
	}
	
}
/*---------------- ▲PCのみCSS▲ --------------------*/
/*---------------- ▼タブレット以降CSS▼ --------------------*/
@media screen and (max-width:768px){

	
	
	
}
/*---------------- ▼スマホ以降CSS▲ --------------------*/
@media screen and (max-width:480px){
	
	.l-infoBlock01{
		width:100%;
		margin:0 auto;
		padding:70px 0 0;
		text-align:center;
		color:#1c4a9f;
	}
	.l-infoBlock01 .p-title{
		font-size:24px;
		padding-top:45px;
		padding-bottom:35px;
		line-height:1;
	}	

	.l-infoBlock02{
		width:100%;
		margin:0 auto;
		padding:0px 0 0;
		text-align:center;
	}
	.l-infoBlock02 .p-title{
		font-size:15px;
		line-height:2;
		padding:0px 0 30px;
		background:url(../../images/info/bg_infoblock02_pc.png) left bottom no-repeat;
	}
	.l-infoBlock02 .p-image{
		padding:20px 0px 20px;
	}
	.l-infoBlock02 .p-image img{
		max-width:1000px;
		width:100%;
	}
	.l-infoBlock02 .p-message{
		padding:0px 15px 45px;
		text-align:justify;
		font-size:15px;
		line-height:2;
	}
	.l-infoBlock02 .p-btn{
		padding:0px 0px 50px;
		line-height:0;
	}
	.l-infoBlock02 .p-btn img{
		max-width:120px;
		width:100%;
	}
	
	
	
}
/*---------------- ▲スマホ以降CSS▲ --------------------*/
/*---------------- ▲スマホ最小CSS▲ --------------------*/
@media screen and (max-width:320px){
	
	
}
/*---------------- ▲スマホ最小CSS▲ --------------------*/
